= f.simple_fields_for :telegram_notification do |tf|
  .form-group
    %label
      = t('message.telegram_chat_group')

      - if current_program.telegram_bot_enabled && @chat_groups.present?
        = link_to t('shared.need_help'), help_telegram_bot_path(anchor: 'group'), class: 'small text-primary', 'data-turbolinks': false

    %div
      - if !current_program.telegram_bot_enabled
        .small.ml-4= t('message.to_enable_telegram', url: setting_path).html_safe

      - else
        = hidden_field_tag "message[telegram_notification_attributes][chat_group_ids][]", nil

        - @chat_groups.each_with_index do |chat_group, index|
          .form-check.ml-4
            = check_box_tag "message[telegram_notification_attributes][chat_group_ids][]", chat_group.id, @message.telegram_notification.chat_group_ids.include?(chat_group.id), id: dom_id(chat_group), class: 'form-check-input'

            %label.form-check-label{for: dom_id(chat_group)}
              - if chat_group.actived?
                %span= chat_group.title
              - else
                %strike{'data-toggle'=>"tooltip", 'data-placement' => "top", title: chat_group.reason}= chat_group.title

        - unless @chat_groups.present?
          %div
            %span.small.ml-4= t('message.learn_more_to_add_bot_to_group', url: help_telegram_bot_path(anchor: 'group')).html_safe
