= f.hidden_field :id
= f.hidden_field :name
= f.hidden_field :sex
= f.hidden_field :date_of_birth
= f.hidden_field :tel
= f.hidden_field :educational_background_id
= f.hidden_field :local_ngo_id, value: @local_ngo.id

- f.object.scorecard_knowledges.each do |sk|
  = f.hidden_field :scorecard_knowledge_ids, :multiple => true, :value => sk.id

/ Address
= f.hidden_field :province_id
= f.hidden_field :district_id
= f.hidden_field :commune_id
