= render "shared/headers/progress_arrow_header", title: "#{@local_ngo.name}: Import cafs with excel", show_confirm: true, progress_num: 2

= simple_form_for @batch, url: local_ngo_caf_importers_path(local_ngo_id: @local_ngo.id) do |f|
  = f.hidden_field :code, value: @batch.code
  = f.hidden_field :total_count
  = f.hidden_field :valid_count
  = f.hidden_field :new_count
  = f.hidden_field :province_count
  = f.hidden_field :reference_cache

  .d-flex.align-items-center{style: 'flex-wrap: wrap-reverse;'}
    / Short description header
    .flex-grow-1
      %div= t("caf_batch.short_description", total_count: @batch.total_count, valid_count: @batch.valid_count).html_safe

      %small.text-muted
        = t('caf_batch.valid_data_in_province', province_count: @batch.province_count).html_safe

    .d-flex.mb-2
      / Back button
      = render "shared/buttons/back_button", url: new_local_ngo_caf_importer_path(@local_ngo)

      / Yes confirm button
      - tooltip_title = @batch.valid_count.positive? ? "" : t("shared.at_least_one_valid_item")

      %span{ 'data-bs-toggle' => 'tooltip', title: tooltip_title }
        %button.btn.btn-primary.btn-sm{'data-toggle' => 'modal', 'data-target' => '#confirmModal', type: 'button', class: ('disabled' if @batch.valid_count.zero?)}= t('shared.yes_i_approve')

  = render 'wizard_list', f: f
  / Yes Confirm modal
  = render 'modal_import_confirm', f: f
