= f.input :name, label: t('scorecard.name')
= render "unit_type_and_category_fields", f: f

= f.input :scorecard_type_id, collection: current_program.scorecard_types.pluck(:name, :id), include_blank: false

= f.input :description
= render "location_fields", f: f
= f.input :address
= f.input :lat
= f.input :lng

= render "date_field", f: f, field: :conducted_date
= render "date_field", f: f, field: :planned_start_date
= render "date_field", f: f, field: :planned_end_date

= f.input :number_of_caf
= f.input :number_of_participant
= f.input :number_of_female

.actions
  = f.submit t('shared.save'), class: 'btn btn-primary'
  = link_to t('shared.cancel'), scorecards_path, class: 'btn btn-secondary'
