.w-50.view-center
  - url = !@scorecard.persisted? ? scorecards_path : scorecard_path(@scorecard.uuid)
  = simple_form_for @scorecard, url: url do |f|
    - current_year = Date.today.year
    = f.input :year, label: t('scorecard.year'), collection: [current_year + 1, current_year, current_year - 1], input_html: { class: 'custom-select'}, selected: f.object.year || current_year

    = render "unit_type_and_facility_fields", f: f
    = f.input :scorecard_type, label: t('scorecard.scorecard_type'), collection: Scorecard::SCORECARD_TYPES, input_html: { class: 'custom-select'}

    = render "location_fields", f: f
    = render "shared/date_field", f: f, field: :planned_start_date, label: t("scorecard.planned_start_date"), required: true
    = render "shared/date_field", f: f, field: :planned_end_date, label: t("scorecard.planned_end_date"), required: true

    = f.input :local_ngo_id, label: t("scorecard.implementer"), collection: current_program.local_ngos.pluck(:name, :id), include_blank: false, input_html: { class: 'custom-select'}
    = f.input :description, label: t('scorecard.description')

    .actions
      = f.submit t('shared.save'), class: 'btn btn-primary'
      = link_to t('shared.cancel'), scorecards_path, class: 'btn btn-secondary'
