= render "shared/page_title", title: t("scorecard.scorecards"), url: new_scorecard_path

.card.shadow.mb-4
  .card-body
    = render partial: "shared/no_data", locals: { items: @scorecards }

    - if @scorecards.present?
      = render "shared/pagination_title"

      %table.table.table-hover.pretty
        %thead
          %tr
            %th #
            %th ID
            %th= sortable "name", t('scorecard.name')
            %th= sortable "category_id", t('scorecard.category')
            %th= sortable "commune_code", t('scorecard.location')
            %th

        %tbody
          - @scorecards.each_with_index do |scorecard, index|
            %tr
              %td= @pagy.from + index
              %td= link_to scorecard.uuid, scorecard, class: 'btn btn-link p-0'
              %td= scorecard.name
              %td= scorecard.category.name
              %td= scorecard.location_name
              %td.text-right
                %button.btn{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                  %i.fas.fa-ellipsis-v

                .dropdown-menu.dropdown-menu-right
                  - if policy(scorecard).update?
                    = link_to edit_scorecard_path(scorecard), class: "btn dropdown-item" do
                      %i.fas.fa-pen.drop-menu-icon
                      %span= t('shared.edit')

                  - if policy(scorecard).destroy?
                    = link_to scorecard_path(scorecard), method: :delete, class: "btn dropdown-item", :data => {:confirm => t('scorecard.are_you_sure_to_delete')} do
                      %i.fas.fa-trash-alt.drop-menu-icon
                      %span= t('shared.delete')

    - if @pagy.pages > 1
      .pagy-wrapper
        != pagy_bootstrap_nav(@pagy)
