= content_for :title do
  = t('scorecard.scorecards')

= render 'scorecards/index/nav_tabs'
= render 'scorecards/index/filter'

.card.shadow.mb-4
  .card-body
    - if @scorecards.present?
      = render "shared/pagination_title"

      .table-responsive
        %table.table.table-hover.pretty
          %thead
            %tr
              %th #
              %th= t('scorecard.code')
              %th= sortable "year", t('scorecard.year')
              %th= t('scorecard.implementer')
              %th= t('scorecard.location')
              %th= t('scorecard.status')
              %th= t('scorecard.number_of_downloaded')
              %th= sortable "created_at", t('shared.created_at')
              %th
                %span{data: { toggle: 'tooltip', title: t('scorecard.conducted_in_app')}}
                  = sortable "conducted_date", t('scorecard.conducted_at')
              %th
                %span{data: { toggle: 'tooltip', title: t('scorecard.submitted_from_app')}}
                  = sortable "submitted_at", t('scorecard.submitted_at')
              %th

          %tbody
            - @scorecards.each_with_index do |scorecard, index|
              = render "scorecards/index/scorecard", scorecard: scorecard, index: index

    = render "no_data", items: @scorecards
    = render "shared/footers/pagination"

= render "scorecards/index/confirm_modal"
