.d-sm-flex.align-items-center.justify-content-between.mb-4
  %h1.h3.mb-0.text-gray-800= t("scorecard.scorecards")
  .mt-3.mt-md-0.text-right
    - if policy(Scorecard).setting?
      %a.btn.btn-secondary.btn-sm.shadow-sm{ href: setting_url }
        %i.fas.fa-wrench.fa-sm.text-white-50
        = t("sidebar.settings")

    - if policy(Scorecard).create?
      %a.btn.btn-primary.btn-sm.shadow-sm{ href: new_scorecard_path }
        %i.fas.fa-plus.fa-sm.text-white-50
        = t("scorecard.add_new")

= render 'scorecards/index/nav_tabs'
= render 'scorecards/index/filter'

.card.shadow.mb-4
  .card-body
    = render partial: "no_data", locals: { items: @scorecards }

    - if @scorecards.present?
      = render "shared/pagination_title", objects: @scorecards

      .table-responsive
        %table.table.table-hover.pretty
          %thead
            %tr
              %th #
              %th= t('scorecard.code')
              %th= sortable "year", t('scorecard.year')
              %th= sortable "facility_id", t('scorecard.facility')
              %th= t('scorecard.implementer')
              %th= t('scorecard.location')
              %th= t('scorecard.status')
              %th= t('scorecard.number_of_downloaded')
              %th= sortable "created_at", t('shared.created_at')
              %th= sortable "conducted_date", t('scorecard.conducted_at')
              %th= sortable "locked_at", t('scorecard.submitted_at')
              %th

          %tbody
            - @scorecards.each_with_index do |scorecard, index|
              %tr
                %td= @pagy.from + index
                %td{style: 'min-width: 106px'}
                  = link_to scorecard.uuid, scorecard_path(scorecard.uuid), class: 'btn btn-link p-0'
                  = render 'scorecard_copy', scorecard: scorecard
                %td= scorecard.year
                %td= scorecard.facility.name
                %td= scorecard.local_ngo_name
                %td= scorecard_location(scorecard)
                %td= status_html(scorecard)
                %td.text-center
                  = scorecard.downloaded_count unless scorecard.downloaded_count.zero?
                %td= timeago(scorecard.created_at).html_safe
                %td
                  - if scorecard.conducted_date.present?
                    = timeago(scorecard.conducted_date).html_safe
                  - else
                    = "_"
                %td
                  - if scorecard.locked_at.present?
                    = timeago(scorecard.locked_at).html_safe
                  - else
                    = "_"
                %td.text-right.action-buttons
                  .d-flex.d-md-block.flex-row
                    - if scorecard.access_locked?
                      %span{ class: 'btn btn-circle btn-sm btn-outline-dark mr-1', data: { toggle: 'tooltip', placement: 'top', title: t('scorecard.completed')}, style: 'cursor: auto'}
                        %i.fas.fa-lock

                    - if scorecard.access_locked? && scorecard.program.try(:pdf_templates).present?
                      = link_to scorecard_path(scorecard.uuid, format: 'pdf'), class: "btn btn-circle btn-sm btn-outline-danger", data: { toggle: 'tooltip', placement: 'top', title: t('scorecard.view_as_pdf')}, target: '_blank' do
                        %i.fas.fa-file-pdf

                    - if policy(scorecard).update?
                      = link_to edit_scorecard_path(scorecard.uuid), class: "btn btn-circle btn-sm btn-outline-warning mr-1", data: { toggle: 'tooltip', placement: 'top', title: t('shared.edit')} do
                        %i.fas.fa-pen

                    - if policy(scorecard).update? && scorecard.running?
                      %span{data: {toggle: 'tooltip', placement: 'top', title: t('scorecard.cannot_delete_running_scorecard')}}
                        %a.disabled{class: "btn btn-circle btn-sm btn-outline-danger"}
                          %i.fas.fa-trash-alt

                    - if policy(scorecard).destroy?
                      %span{data: {toggle: 'tooltip', placement: 'top', title: t('shared.delete')}}
                        = link_to scorecard_path(scorecard.uuid, associate_info: true), class: "btn btn-circle btn-sm btn-outline-danger", remote: true do
                          %i.fas.fa-trash-alt

    - if @pagy.pages > 1
      .mt-3
        .pagy-wrapper.justify-content-md-end.justify-content-center
          != pagy_bootstrap_compact_nav(@pagy)

= render "scorecards/index/confirm_modal"
