%tr
  %td= @pagy.from + indicator_counter
  %td= indicator.name
  %td
    %span.badge.badge-pill.badge-secondary= indicator.tag
  %td.text-right
    %button.btn{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
      %i.fas.fa-ellipsis-v

    .dropdown-menu.dropdown-menu-right
      - if policy(indicator).update?
        = link_to edit_category_indicator_path(@category, indicator), class: "btn dropdown-item" do
          %i.fas.fa-pen.drop-menu-icon
          %span= t('shared.edit')

      - if policy(indicator).destroy?
        = link_to category_indicator_path(@category, indicator), method: :delete, class: "btn dropdown-item", :data => {:confirm => t('indicator.are_you_sure_to_delete')} do
          %i.fas.fa-trash-alt.drop-menu-icon
          %span= t('shared.delete')
