- content_for :title do
  = "JAAPs"

- if policy(Jaap).create?
  .d-flex.justify-content-end.mb-2
    = link_to "Add New JAAP", new_jaap_path, class: 'btn btn-sm btn-primary'

.card
  .card-body.table-responsive
    %table.table.table-hover.pretty
      %thead
        %tr
          %th Province
          %th District
          %th Commune
          %th Created At
          %th

      %tbody
        - @jaaps.each do |jaap|
          %tr
            %td= jaap.province_id
            %td= jaap.district_id
            %td= jaap.commune_id
            %td= jaap.created_at.strftime("%Y-%m-%d %H:%M")
            %td
              = link_to "View", jaap_path(jaap), class: "btn btn-sm btn-info"
              = link_to "Edit", edit_jaap_path(jaap), class: "btn btn-sm btn-primary"

    - if @jaaps.empty?
      .text-center.py-4
        %p.text-muted No JAAPs found

    = render "shared/footers/pagination" if @jaaps.any?
