- content_for :title do
  = t('jaap.jaaps')

- if policy(Jaap).create?
  .d-flex.justify-content-end.mb-2
    = link_to new_jaap_path, class: 'btn btn-sm btn-primary' do
      %i.fas.fa-plus.mr-1
      = t('jaap.new_jaap')

.card
  .card-body.table-responsive
    %table.table.table-hover.pretty
      %thead
        %tr
          %th= "#"
          %th= t('jaap.province')
          %th= t('jaap.district')
          %th= t('jaap.commune')
          %th= t('shared.created_at')
          %th= t('shared.updated_at')
          %th

      %tbody
        - @jaaps.each_with_index do |jaap, index|
          %tr
            %td= index + 1
            %td= province_name(jaap.province_id)
            %td= district_name(jaap.district_id)
            %td= commune_name(jaap.commune_id)
            %td= jaap.created_at.strftime("%Y-%m-%d %H:%M")
            %td= jaap.updated_at.strftime("%Y-%m-%d %H:%M")
            %td.text-right
              - if policy(jaap).show?
                = link_to jaap_path(jaap), class: "btn btn-circle btn-sm btn-outline-info mr-1", data: { toggle: 'tooltip', placement: 'top', title: t('shared.view') } do
                  %i.fas.fa-eye

                = link_to jaap_path(jaap, format: 'pdf'), class: "btn btn-circle btn-sm btn-outline-dark mr-1", data: { toggle: 'tooltip', placement: 'top', title: t('shared.download_pdf')}, target: '_blank' do
                  = image_tag 'pdf.png', size: 14

    - if @jaaps.empty?
      .text-center.py-4
        %p.text-muted= t('shared.no_data_found')

    = render "shared/footers/pagination" if @jaaps.any?
