.footer.p-3
  .medium-width.d-flex
    .d-flex.mx-4.flex-1
      .d-inline-block.flex-1
        %span.text-center.mb-2= t('about.funded_by')
        = link_to 'https://endingpandemics.org/', title: 'Ending Pandemics', target: '_blank' do
          = image_tag 'eu.png', class: 'footer-logo mx-2', alt: 'Care Cambodia'

      .d-flex.align-items-center
        = "#{t('about.version')}: #{ENV['APP_VERSION']}"
