.logo-wrapper.mr-5.d-flex.flex-column.justify-content-center
  = link_to t("devise.sign_in"), url_for(anchor: :login_form), class: "btn btn-primary position-absolute d-lg-none", style: "top: 30px; right: 30px;"

  %h3.title.text-center
    = ENV['APP_NAME']

    - if shortcut_name = ENV['APP_SHORTCUT_NAME'].presence
      = "(#{shortcut_name})"

  .logo-image-wrapper.flex-row.text-center.justify-content-conter
    = image_tag 'csc_logo.png', size: '120x120', class: 'rounded-xl'

  %footer
    .app-description.rounded.my-4
      = render 'devise/shared/contact'

    -# v2
    .text-center.my-3
      %div
        %strong= "កំណែទី២ (ឆ្នាំ២០២៥)៖ សហការអនុវត្តដោយ"
      %div
        %strong= "Version 2 (2025), Co-implemented by"
    = render 'devise/shared/stakeholders_v2'

    -# v1
    .text-center.my-3
      %div
        %strong= "កំណែទី១៖ សហការផលិតដោយ"
      %div
        %strong= "Version 1, Co-produced by"

    = render 'devise/shared/stakeholders'

    .qr-code.text-center.mt-3
      = link_to "ទាញយកកម្មវិធី / Download App", ENV['APP_PLAY_STORE_URL'], target: "_blank"
