.stackholders.d-flex.justify-content-between{ class: local_assigns[:wrapper_class] }
  .funded-by.text-center.flex-shrink-0
    %p.font-weight-normal.text-center.text-funded
      គាំទ្រមូលនិធិដោយ / Funded by

    = link_to 'https://eeas.europa.eu/delegations/cambodia_en', target: '_blank' do
      = image_tag 'eu.png', class: 'img-funded', alt: 'EU Cambodia'

  .implemented-by
    %p.font-weight-normal.text-center.text-implemented
      អនុវត្តដោយ / Implemented by
    .d-flex.align-items-center.justify-content-center.flex-wrap.img-implemented-wrapper
      = link_to 'https://www.care-cambodia.org/', target: '_blank' do
        = image_tag 'care_logo.png', class: 'img-implemented', alt: 'Care'

      = link_to 'https://apiinstitute.org/', target: '_blank' do
        = image_tag 'api.png', class: 'img-implemented', alt: 'API'

      = link_to 'http://ilabsoutheastasia.org', target: '_blank' do
        = image_tag 'instedd-ilabsea.png', class: 'img-implemented', alt: 'InSTEDD iLabSEA'
