- if policy(Dataset).public_view?
  .mb-2= render "shared/scorecard_setting_tab_nav"

.d-flex.flex-wrap.align-items-center
  = render "filter" do
    = render "more_buttons"
    = render "switch_views"

.card.shadow.mb-4
  .card-body
    = render "pagination_title"

    - if @datasets.present?
      .table-responsive
        %table.table.table-hover.pretty
          %thead
            %tr
              %th= sortable "code", t('dataset.code')
              %th= sortable "name_en", t('dataset.name_en')
              %th= sortable "name_km", t('dataset.name_km')
              %th= t('dataset.address')
              %th= sortable "created_at", t('shared.created_at')
              %th
          %tbody
            - @datasets.each do |dataset|
              %tr
                %td= dataset.code
                %td= dataset.name_en
                %td= dataset.name_km
                %td= dataset.address
                %td= timeago(dataset.created_at).html_safe
                %td
                  .d-flex.justify-content-end
                    = render 'shared/action_buttons', edit_url: edit_category_dataset_path(@category, dataset), delete_url: category_dataset_path(@category, dataset), object: dataset

    = render "shared/no_data", items: @datasets
    = render "shared/footers/pagination"

= render "shared/modal_confirm"
= render "modal_import_from_file"
