#confirmModal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1" }
  .modal-dialog.modal-dialog-centered{:role => "document"}
    .modal-content.text-black
      / Header
      .modal-header
        %h5.modal-title
          %i.fas.fa-exclamation-triangle.text-danger
          %span.title= t("scorecard_batch.removing_scorecard_confirmation")

        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×

      - if scorecards = @batch.removing_scorecards.select{ |s| s.valid? }.presence
        / Body
        .modal-body.text-left

          = t('scorecard_batch.message_confirm_remove', total_item: @batch.valid_count).html_safe

          / Copy codes
          - codes = scorecards.collect(&:code)
          .d-flex
            .text-truncate
              = "(#{codes.join(', ')}"
            .d-flex
              )
              = render 'shared/copy', value: codes.join(', '), label: ''

          / Statuses
          .form-group
            - statuses = scorecards.group_by(&:status).sort_by{ |k, v| Scorecard.statuses.index(k) }
            %ul
              - statuses.each do |status, value|
                %li
                  %small.text-muted= t("scorecard.#{status}") + ": "
                  %strong= value.length
                  - if status == Scorecard::STATUS_COMPLETED
                    %small.text-danger= "(#{t('scorecard_batch.will_affect_dashboard_result')})"
                  - elsif status == Scorecard::STATUS_RUNNING
                    %small.text-warning= "(#{t('scorecard_batch.will_affect_implementing_scorecard_in_device')})"

          / Cannot undo
          .form-group
            = t('scorecard_batch.this_cannot_undone').html_safe

          / Are you sure?
          .form-group
            = t('scorecard_batch.are_you_sure_to_delete_scorecard').html_safe

            - confirm_code = codes.first + codes.last

            = t('scorecard_batch.please_type_to_confirm', codes: confirm_code).html_safe

          / confirm input
          = f.input :confirm_removing_scorecard_codes, input_html: {class: 'confirm-input', placeholder: t('scorecard_batch.insert_scorecard_codes_to_confirm'), 'data-codes': confirm_code}, label: false, wrapper_html: { class: 'mb-0'}

          / Note
          %div
            %small= t("scorecard_batch.accept_consequence_note")

        .modal-footer
          %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"}= t("shared.cancel")

          = f.submit t('scorecard_batch._yes'), class: 'btn btn-danger btn-yes', disabled: true
