- content_for :title do
  = t('scorecard_batch.removing_scorecard_history')

.d-flex.justify-content-end.mb-2
  = render "shared/buttons/back_button", url: scorecards_path
  = render "shared/buttons/add_new_button", url: new_removing_scorecard_path, title: t('scorecard_batch.remove_batch')

.card.shadow.mb-4
  .card-body
    - if @batches.present?
      = render "shared/pagination_title"

      .table-responsive
        %table.table.table-hover.pretty
          %thead
            %tr
              %th #
              %th= t("shared.code")
              %th= t("scorecard_batch.filename")
              %th= t("shared.description")
              %th= t("scorecard_batch.deleted_scorecard")
              %th= t("scorecard_batch.imported_by")
              %th= t('scorecard_batch.imported_at')
          %tbody
            - @batches.each_with_index do |batch, index|
              %tr
                %td= index + 1
                %td= batch.code
                %td
                  - if batch.reference_url.present?
                    = link_to batch.reference_identifier, batch.reference_url, class: "text-primary", target: "_blank"

                %td
                  = t("scorecard_batch.removing_short_description", total_item: batch.total_count, total_valid: batch.valid_count)

                %td= batch.scorecards.pluck(:uuid).join(', ')
                %td= batch.user_email
                %td= timeago(batch.created_at, 'datetime').html_safe

    = render "shared/no_data", items: @batches
    = render "shared/footers/pagination"

= render "shared/modal_confirm"
