= render "shared/scorecard_setting_tab_nav"

.card.shadow.mb-4.facilities
  .card-body
    = render partial: "shared/no_data", locals: { items: @templates, url: new_template_path, label: t('template.add_new') }

    - if @templates.present?
      = render "shared/pagination_title", objects: @templates, url: new_template_path, label: t('template.add_new'), hide_pagy: true

      %table.table.table-hover.pretty
        %thead
          %tr
            %th= sortable "id", t('shared.number')
            %th= sortable "name", t("shared.name")
            %th

        %tbody
          - @templates.each_with_index do |template, index|
            %tr
              %td= template.id
              %td= link_to template.name, edit_template_path(template), class: "btn btn-link p-0"

              %td.text-right
                = render 'shared/action_buttons', edit_url: edit_template_path(template), delete_url: template_path(template), object: template
