= render "shared/page_title", title: t("template.templates"), url: new_template_path

.card.shadow.mb-4.categories
  .card-body
    = render partial: "shared/no_data", locals: { items: @templates }

    - if @templates.present?
      = render "shared/pagination_title"

      %table.table.table-hover.pretty
        %thead
          %tr
            %th= sortable "id", t('shared.number')
            %th= sortable "name", t("template.name")
            %th

        %tbody
          - @templates.each_with_index do |template, index|
            %tr
              %td= template.id
              %td= link_to template.name, template_indicators_path(template), class: "btn btn-link p-0"

              %td.text-right
                %button.btn{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                  %i.fas.fa-ellipsis-v

                .dropdown-menu.dropdown-menu-right
                  - if policy(template).update?
                    = link_to edit_template_path(template), class: "btn dropdown-item" do
                      %i.fas.fa-pen.drop-menu-icon
                      %span= t('shared.edit')

                  - if policy(template).destroy?
                    = link_to template_path(template), method: :delete, class: "btn dropdown-item", :data => {:confirm => t('template.are_you_sure_to_delete')} do
                      %i.fas.fa-trash-alt.drop-menu-icon
                      %span= t('shared.delete')
