%table.table.table-bordered
  %thead
    %tr
      %th{:scope => "col"}= t('scorecard.proposed_indicators')
      %th{:scope => "col"}= t('scorecard.raised_times')

  %tbody
    - @criterias.each do |criteria|
      %tr
        %td
          .mb-2= criteria["name"]

          .text-muted.card-subtitle.text-sm
            = participant_information(criteria, 'count').html_safe

        %td= criteria["count"]
