%table.table.table-bordered
  %thead
    %tr
      %th{:scope => "col"}= t('scorecard.proposed_indicators')
      %th{:scope => "col"}= t('scorecard.raised_times')

  %tbody
    - @criterias.each_with_index do |criteria, index|
      %tr
        %td
          .mb-2.review-indicator
            - is_custom = criteria['indicator'].class.name.split('::').last == 'CustomIndicator'
            - if is_custom && policy(@scorecard).in_review?
              .d-flex
                .d-flex.align-items-start.tip{data: { toggle: 'tooltip', placement: 'top', title: t("shared.edit") }}
                  = best_in_place criteria['indicator'], :name, url: scorecard_indicator_path(@scorecard.uuid, criteria['indicator'].id), as: :textarea, class: 'add-space', inner_class: 'best-in-place-textarea', ok_button: t('shared.save'), cancel_button: t('shared.cancel'), ok_button_class: 'btn btn-primary btn-save', cancel_button_class: 'btn btn-secondary btn-cancel', skip_blur: true
                  %span
                    %i.fas.fa-pen.btn-sm.text-warning.mr-1

            - else
              = criteria["name"]
              - if is_custom
                %small.border.rounded.px-1= t('shared.new')

              - if policy(@scorecard).in_review?
                %span{data: { toggle: 'tooltip', placement: 'top', title: t("indicator.cannot_edit_predefine") }}
                  %i.fas.fa-pen.btn-sm.disabled

          .text-muted.card-subtitle.text-sm
            = participant_information(criteria, 'count').html_safe

        %td= criteria["count"]
