#content
  = render 'shared/scorecard_tab_nav'

  .border-right.border-left.border-bottom.bg-white
    .card-body
      .mb-4
        %h3 Raised Indicators

        %h4 Predefined
        - @indicator[:predefineds].each do |item|
          %div= "[Raised #{item["count"]} times] #{item["name"]}"

        %h4.mt-4 Custom
        - @indicator[:customs].each do |item|
          %div= item["name"]

      %h3 Voting Indicators
      - @voting_indicators.each do |indicator|
        %div= indicator.indicatorable.name
