.w-50.view-center
  = simple_form_for @program do |f|
    = f.input :name, label: t('program.name')

    .form-group
      %label
        = t('program.shortcut_name')
        %abbr{:title => "required"} *
        %br
        %span.text-gray-600.small= "(#{t('program.used_for_com')})"
      = f.input :shortcut_name, label: false, input_html: { maxlength: 10, class: 'short-name' }
      .text-right.small{style: 'margin-top: -12px'}
        %span.short-name-count 0
        %span /
        %span 10

    .actions
      = f.submit t('shared.save'), class: 'btn btn-primary'
      = link_to t('shared.cancel'), programs_path, class: 'btn btn-secondary'
