= render "shared/page_title", title: t("program.programs"), url: new_program_path

.card.shadow.mb-4
  .card-body
    = render partial: "shared/no_data", locals: { items: @programs }

    - if @programs.present?
      = render "shared/pagination_title"

      %table.table.table-hover
        %thead
          %tr
            %th= t('program.name')
            %th
        %tbody
          - @programs.each do |program|
            %tr
              %td= program.name
              %td.text-right
                %button.btn{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                  %i.fas.fa-ellipsis-v

                .dropdown-menu.dropdown-menu-right
                  - if policy(program).update?
                    = link_to edit_program_path(program), class: "btn dropdown-item" do
                      %i.fas.fa-pen.drop-menu-icon
                      %span= t('shared.edit')

                  - if policy(program).destroy?
                    = link_to program_path(program), method: :delete, class: "btn dropdown-item", :data => {:confirm => t('program.are_you_sure_to_delete')} do
                      %i.fas.fa-trash-alt.drop-menu-icon
                      %span= t('shared.delete')

    - if @pagy.pages > 1
      .pagy-wrapper
        != pagy_bootstrap_nav(@pagy)
