= render "shared/scorecard_setting_tab_nav"

.card.shadow.mb-4
  .card-body
    = render "shared/pagination_title", hide_pagy: true do
      - if policy(Language).create?
        = render "shared/buttons/add_new_button", title: t('language.add_new'), url: new_language_path, remote: true

    - if @languages.present?
      .table-responsive
        %table.table.table-hover.pretty
          %thead
            %tr
              %th #
              %th= sortable "code", t("language.code")
              %th= sortable "name_en", t("language.name_en")
              %th= sortable "name_km", t("language.name_km")
              %th= sortable "created_at", t("shared.created_at")
              %th

          %tbody
            - @languages.each_with_index do |language, index|
              %tr
                %td= @pagy.from + index
                %td= language.code
                %td= language.name_en
                %td= language.name_km
                %td= timeago(language.created_at).html_safe
                %td.text-right
                  - if policy(language).update?
                    = link_to edit_language_path(language), class: "btn btn-circle btn-sm btn-outline-warning mr-1", data: { toggle: 'tooltip', placement: 'top', title: t('shared.edit')}, remote: true do
                      %i.fas.fa-pen

                  - if policy(language).destroy?
                    - title = language.locked? ? t('language.already_in_used') : t('shared.delete')
                    %span{ data: { toggle: 'tooltip', placement: 'top', title: title }}
                      = link_to language_path(language), remote: true, class: ["btn btn-circle btn-sm btn-outline-danger", ("disabled" if language.locked?)] do
                        %i.fas.fa-trash-alt

    = render "shared/no_data", items: @languages
    = render "shared/footers/pagination"

= render 'modal'
= render "shared/modal_confirm"
