= render "shared/scorecard_setting_tab_nav"

.card.shadow.mb-4
  .card-body
    = render partial: "shared/no_data", locals: { items: @languages }

    = render "shared/pagination_title", objects: @languages, url: new_language_path, label: t('language.add_new')

    - if @languages.present?

      %table.table.table-hover.pretty
        %thead
          %tr
            %th= sortable "id", t('shared.number')
            %th= sortable "code", t("language.code")
            %th= sortable "name", t("language.name")
            %th

        %tbody
          - @languages.each_with_index do |language, index|
            %tr
              %td= language.id
              %td= language.code
              %td= language.name
              %td.text-right
                = render 'shared/action_buttons', edit_url: edit_language_path(language), delete_url: language_path(language), object: language
