%tr
  %td= activity_log.controller_name
  %td= activity_log.action_name
  %td= activity_log.format
  %td= activity_log.http_method
  %td= activity_log.path
  %td= activity_log.http_status
  %td{ style: 'max-width: 400px' }
    .text-wrap
      = activity_log.payload
  %td.w-100= activity_log.created_at