%form{ action: '/scorecards', method: 'get' }
  .d-flex.flex-wrap
    .d-flex.flex-grow-1
      = hidden_field_tag :filter, params[:filter]

      .mb-2= render "shared/filters/filter_name", field_name: "uuid", placeholder: t('scorecard.search_by_code')

      .ml-2
        = render "shared/buttons/advance_search_button", toggler_variable: "advance_search_user"
      .ml-2
        = render "shared/buttons/search_button"

    %div
      = render 'scorecards/index/more_buttons'

  / Advance filter
  #collapseOne.accordion-collapse.collapse.collapse-filter
    .d-flex.m-2.flex-wrap
      .mr-2= render 'scorecards/index/filter_date'

      .mr-2= render 'scorecards/index/filter_province'

      .mr-2= select_tag :scorecard_type, options_for_select(program_scorecard_types, params[:scorecard_type]), class: 'form-control custom-select', prompt: t("scorecard.any_scorecard_type")

      - if current_program.present?
        .mr-2= render 'scorecards/index/filter_year'
        .mr-2= render 'scorecards/index/filter_facility'
        .mr-2= render 'scorecards/index/filter_local_ngo'

    - if current_program.present?
      .d-flex.m-2.flex-wrap
        .mr-2= render 'scorecards/index/filter_batch'
