%form{ action: '/scorecards', method: 'get' }
  = hidden_field_tag :filter, params[:filter]

  / Default filter
  .d-md-flex.my-2.text-right
    = text_field_tag(:uuid, params[:uuid], class: 'form-control filter-input', placeholder: t('scorecard.code'), id: 'scorecard_code')

    = render 'scorecards/index/filter_date'

    %div
      .btn-search-wrapper.d-block.d-md-flex
        %a.btn.btn-outline-secondary.advance-search{"aria-controls" => "collapseExample", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapseExample", :role => "button"}
          %span.d-none.d-lg-inline= t('scorecard.advance_search')
          %i.fas.fa-angle-down

        %button.btn.btn-primary.ml-md-2{type: :submit}
          %i.fas.fa-search
          %span.d-none.d-lg-inline= t('shared.search')

  / Advance filter
  #collapseExample.collapse
    .d-lg-flex.mb-2
      = render 'scorecards/index/filter_province'

      = select_tag :scorecard_type, options_for_select(Scorecard.t_scorecard_types, params[:scorecard_type]), class: 'form-control custom-select filter-input', prompt: t("scorecard.any_scorecard_type")

      - if current_program.present?
        = render 'scorecards/index/filter_year'
        = render 'scorecards/index/filter_facility'
        = render 'scorecards/index/filter_local_ngo'
