#year.filter-input{'data-toggle' => 'multiSelect'}
  / Trigger
  .tooltips{'data-toggle' => 'tooltip'}
    / Require hidden-input class
    %input.hidden-input{ name: 'years', type: :hidden, value: params[:years] }

    / Require div for display
    .form-control.text-truncate{'data-toggle' => 'modal', 'data-target' => '#yearModal', 'data-placeholder' => t('scorecard.any_year'), 'data-display-text' => t('scorecard.n_year_selected')}

  / Modal
  #yearModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content
        .modal-header
          %div
            %h5#exampleModalLabel.modal-title= t('scorecard.year')
            %small.text-muted.font-italic= "(#{t('scorecard.can_select_multiple_year')})"

          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×

        .modal-body
          - list = current_program.scorecards.pluck(:year).uniq.map{|y| {value: y, name: y} }

          / Require tagify-input class
          %input.tagify-input{ placeholder: t('scorecard.input_year'), 'data-list' => list.to_json }

        .modal-footer
          %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"}= t('shared.cancel')

          / Require btn-save class
          %button.btn.btn-primary.btn-save{"data-dismiss" => "modal", :type => "button"}= t('shared.save')
