.add-filter__item.border.d-inline-block.p-1.mr-3
  = "#{t(field, scope: 'scorecard')}: #{item}"
  = link_to "#", class: "add-filter__delete_item" do
    %i.fa.fa-times
  %input{ type: "hidden", name: "#{field}[]", value: item }
