- progresses = scorecard.scorecard_progresses.order(created_at: :desc)
- statuses = progresses.pluck(:status).uniq.sort_by(&ScorecardProgress.statuses.keys.reverse.method(:index))
- statuses.each do |status|
  .text-left.mt-1
    - num = status == ScorecardProgress::DOWNLOADED ? 3 : 1
    - selecteds = progresses.select { |pr| pr.status == status }

    %div= scorecard_progress_title(selecteds.length, num, status)
    %div
      %ul
        - selecteds.take(num).each do |progress|
          %li
            %span= "#{t('scorecard.device_id')}: "
            %span= "#{progress.device_id} (#{display_datetime(progress.created_at)})"
