%tr
  %td{'data-toggle' => 'tooltip', title: scorecard_code_hint(scorecard), 'data-html' => 'true'}
    .line-badge{ class: scorecard.scorecard_type }
      = @pagy.from + index

  %td{'data-toggle' => 'tooltip', title: scorecard_code_hint(scorecard), 'data-html' => 'true'}
    .d-flex.align-items-center
      %small.text-muted.mr-1
        = "#{scorecard.facility.code}"

      = link_to scorecard.uuid, scorecard_path(scorecard.uuid), class: 'text-primary'

      %small.ml-1{class: scorecard.running_mode}
        - if scorecard.online?
          %i.fas.fa-wifi
        - else
          %i.fas.fa-signal

      = render 'shared/copy', value: scorecard_url(scorecard.uuid), label: '', tooltip_title: (t('shared.copied_testing_code') if test_mode?)

  %td= scorecard.year
  %td
    %span{ data: { toggle: 'tooltip', title: "#{scorecard.local_ngo_name}(#{scorecard.local_ngo_code})" } }
      = scorecard.local_ngo_short_name || scorecard.local_ngo_name

  %td{data: { toggle: 'tooltip', title: scorecard_location(scorecard) } }
    .scorecard-location.ellipsis
      = scorecard_location(scorecard)

  %td= status_html(scorecard).html_safe
  %td.text-center
    - if scorecard.downloaded_count.positive?
      - tooltip_title = sanitize(render('scorecards/index/scorecard_progress_tooltip_title', scorecard: scorecard))

      %span{'data-toggle': 'tooltip', title: "#{tooltip_title}", 'data-html': 'true', 'data-placement': 'right' }
        = scorecard.downloaded_count

  %td= timeago(scorecard.planned_start_date).html_safe
  %td
    - if scorecard.conducted_date.present?
      = timeago(scorecard.conducted_date).html_safe
    - else
      = "_"
  %td
    - if scorecard.submitted_at.present?
      = timeago(scorecard.submitted_at).html_safe
    - else
      = "_"
  %td
    .d-flex.justify-content-end
      / Request change icon
      = render 'scorecards/button_request_change', scorecard: scorecard

      / Unlock request icon
      = render 'button_unlock_request', scorecard: scorecard

      / Pdf icon
      - if scorecard.access_locked? && scorecard.program.try(:pdf_templates).present?
        = link_to scorecard_path(scorecard.uuid, format: 'pdf'), class: "btn btn-circle btn-sm btn-outline-dark mr-1", data: { toggle: 'tooltip', placement: 'top', title: t('scorecard.view_as_pdf')}, target: '_blank' do
          = image_tag 'pdf.png', size: 14

      - if policy(Scorecard).create?
        / Edit icon
        - if policy(scorecard).update?
          = link_to edit_scorecard_path(scorecard.uuid), class: "btn btn-circle btn-sm btn-outline-warning mr-1", data: { toggle: 'tooltip', placement: 'top', title: t('shared.edit')} do
            %i.fas.fa-pen
        - else
          %span.mr-1{data: {toggle: 'tooltip', placement: 'top', title: t('scorecard.cannot_update_running_scorecard')}}
            %a.disabled{class: "btn btn-circle btn-sm btn-outline-warning"}
              %i.fas.fa-pen

        / Delete icon
        - if policy(scorecard).destroy?
          %span{data: {toggle: 'tooltip', placement: 'top', title: t('shared.delete')}}
            = link_to scorecard_path(scorecard.uuid, associate_info: true), class: "btn btn-circle btn-sm btn-outline-danger", remote: true do
              %i.fas.fa-trash-alt
        - else
          %span{data: {toggle: 'tooltip', placement: 'top', title: t('scorecard.cannot_delete_running_scorecard')}}
            %a.disabled{class: "btn btn-circle btn-sm btn-outline-danger"}
              %i.fas.fa-trash-alt
