%form{ action: '/users', method: 'get' }
  .d-flex.flex-wrap
    = hidden_field_tag :archived, params['archived']

    .mb-2= render "shared/filters/filter_name", field_name: "email", placeholder: t('user.search_by_email')

    .ml-2
      = render "shared/buttons/advance_search_button", toggler_variable: "advance_search_user"
    .ml-2
      = render "shared/buttons/search_button"
  / Advance filter
  #collapseOne.accordion-collapse.collapse.collapse-filter
    .d-flex.m-2
      .search-input.mr-2
        .tooltips{ 'data-toggle' => 'tooltip', 'data-placement': 'top' }
          - options = policy_scope(LocalNgo).pluck(:name, :id)
          = select_tag 'local_ngo_ids[]', options_for_select(options, params[:local_ngo_ids]), multiple: true, "data-live-search" => "true", "data-count-selected-text" => "{0} #{t('user.local_ngos_selected')}", "data-selected-text-format" => "count > 1", "data-none-selected-text" => t("user.any_local_ngo"), class: 'selectpicker form-control'

      - if current_user.system_admin?
        .search-input
          .tooltips{ 'data-toggle' => 'tooltip', 'data-placement': 'top' }
            - options = Program.pluck(:name, :id)
            = select_tag 'program_ids[]', options_for_select(options, params[:program_ids]), multiple: true, "data-live-search" => "true", "data-count-selected-text" => "{0} #{t('user.programs_selected')}", "data-selected-text-format" => "count > 1", "data-none-selected-text" => t("user.any_program"), class: 'selectpicker form-control'
