%form{ action: '/users', method: 'get' }
  .form-row
    .form-group.mr-2
      = hidden_field_tag :archived, params['archived']
      .input-group
        = text_field_tag(:email, params[:email], class: 'form-control search-email', placeholder: t('user.email'), id: 'email')
        .input-group-append
          .input-group-text
            %i.fas.fa-search

    - if current_user.system_admin?
      .form-group.search-input
        .tooltips{ 'data-toggle' => 'tooltip', 'data-placement': 'top' }
          - options = Program.pluck(:name, :id)
          = select_tag 'program_ids[]', options_for_select(options, params[:program_ids]), multiple: true, "data-live-search" => "true", "data-count-selected-text" => "{0} #{t('user.programs_selected')}", "data-selected-text-format" => "count > 1", "data-none-selected-text" => t("user.any_program"), class: 'selectpicker form-control'

      %div
        %button.btn.btn-primary.ml-md-2{type: :submit}
          %i.fas.fa-search
          %span.d-none.d-lg-inline= t('shared.search')
