.w-50.view-center
  = simple_form_for @user do |f|
    = f.input :email, label: t('user.email'), input_html: { readonly: @user.persisted? }
    = f.input :role, label: t('user.role'), collection: policy(User).roles, input_html: { class: 'role custom-select' }

    .program.hidden
      - if current_program.present?
        = f.input :program_id, label: t('user.program'), collection: policy_scope(Program.all), selected: current_program.id, input_html: { readonly: true, class: 'custom-select' }
      - else
        = f.input :program_id, label: t('user.program'), collection: policy_scope(Program.all), input_html: {class: 'custom-select'}
    .actions
      = f.submit t('shared.save'), class: 'btn btn-primary'
      = link_to t('shared.cancel'), users_path, class: 'btn btn-secondary'
