.w-50.view-center
  = simple_form_for @user do |f|
    .d-flex
      .control{style: 'margin-right: -16px;'}
        = form_check_toggle({name: "user[actived]", checked: f.object.actived}).html_safe
      %label.flex-1= t('user.set_active')

    = f.input :email, label: t('user.email'), input_html: { readonly: @user.persisted? }
    = f.input :role, label: t('user.role'), collection: policy(User).roles, input_html: { class: 'role custom-select' }

    .local-ngo.d-none
      = f.input :local_ngo_id, label: t('user.local_ngo'), collection: policy_scope(LocalNgo).pluck(:name, :id), input_html: { class: 'custom-select' }

    - if current_program.present?
      = f.hidden_field :program_uuid, value: current_program.uuid
    - else
      .program.d-none
        = f.input :program_uuid, label: t('user.program'), collection: policy_scope(Program.all), input_html: {class: 'custom-select'}

    .actions
      = f.submit t('shared.save'), class: 'btn btn-primary'
      = link_to t('shared.cancel'), users_path, class: 'btn btn-secondary'
