- content_for :title do
  = t('user.users')

.d-flex
  .flex-grow-1.mb-2
    %ul.nav.nav-tabs
      %li.nav-item{ class: ('active' if params[:archived].blank?) }
        %a.nav-link{href: users_path }
          %i.fas.fa-users
          %span.d-none.d-lg-inline= t("user.all")

      %li.nav-item{ class:  ('active' if params[:archived].present?) }
        %a.nav-link{ href: users_path(archived: true) }
          %i.fas.fa-user-times
          %span.d-none.d-lg-inline= t("user.archived")

  - if policy(User).create?
    = render "shared/buttons/add_new_button", title: t('user.add_new'), url: new_user_path

= render 'filter'

.card.shadow.mb-4
  .card-body
    = render "shared/pagination_title"

    - if @users.present?
      .table-responsive
        %table.table.table-hover.pretty
          %thead
            %tr
              %th #
              %th= sortable "email", t("user.email")
              %th= sortable "role", t("user.role")
              %th= t('user.local_ngo')
              - if current_user.system_admin?
                %th= t('user.program')
              %th= t('user.status')
              %th= t('shared.created_at')
              %th= t('shared.updated_at')
              %th= t('user.last_sign_in_at')
              %th

          %tbody
            - @users.each_with_index do |user, index|
              %tr{class: ("disabled-bg" unless user.actived?)}
                %td= @pagy.from + index
                %td= user.email
                %td= user.role.titlecase
                %td= user.local_ngo_name
                - if current_user.system_admin?
                  %td= user.program_name
                %td.status{ class: user.status }
                  = t("user.#{user.status}")
                %td= timeago(user.created_at).html_safe
                %td= timeago(user.updated_at).html_safe
                %td= timeago(user.last_sign_in_at).html_safe
                %td.text-right{style: 'min-width: 168px;'}
                  = render 'action_buttons', user: user

      = render "shared/no_data", items: @users
      = render "shared/footers/pagination"

= render "shared/modal_confirm"
= render "shared/toast_copy"
