.w-50.view-center
  = simple_form_for @local_ngo do |f|
    = f.input :name, label: t('local_ngo.name')

    #province.form-group
      = f.label(:province_id) do
        = t('local_ngo.province')
      = f.hidden_field(:province_id)
      = f.select(:province_id, [], {:include_blank => t("shared.please_select")}, {:data => {:pumi_select_target => "district", :pumi_select_collection_url => pumi.provinces_path, :pumi_select_collection_label_method => "name_#{I18n.locale}", :pumi_select_collection_value_method => "id", :pumi_select_populate_on_load => true, :pumi_select_has_hidden_value => true}, class: 'form-control custom-select'})

    #district.form-group
      = f.label(:district_id) do
        = t('local_ngo.district')
      = f.hidden_field(:district_id)
      = f.select(:district_id, [], {:include_blank => t("shared.please_select")}, {:data => {:pumi_select_id => "district", :pumi_select_target => "commune", :pumi_select_collection_url => pumi.districts_path(:province_id => "FILTER"), :pumi_select_collection_url_filter_interpolation_key => "FILTER", :pumi_select_collection_label_method => "name_#{I18n.locale}", :pumi_select_collection_value_method => "id", :pumi_select_disabled_target => "#district", :pumi_select_disabled_class => "my-disabled-class", :pumi_select_has_hidden_value => true}, class: 'form-control custom-select'})

    #commune.form-group
      = f.label(:commune_id) do
        = t('local_ngo.commune')
      = f.hidden_field(:commune_id)
      = f.select(:commune_id, [], {:include_blank => t("shared.please_select")}, {:data => {:pumi_select_id => "commune", :pumi_select_target => "village", :pumi_select_collection_url => pumi.communes_path(:district_id => "FILTER"), :pumi_select_collection_url_filter_interpolation_key => "FILTER", :pumi_select_collection_label_method => "name_#{I18n.locale}", :pumi_select_collection_value_method => "id", :pumi_select_disabled_target => "#commune", :pumi_select_disabled_class => "my-disabled-class", :pumi_select_has_hidden_value => true}, class: 'form-control custom-select'})

    #village.form-group
      = f.label(:village_id) do
        = t('local_ngo.village')
      = f.hidden_field(:village_id)
      = f.select(:village_id, [], {:include_blank => t("shared.please_select")}, {:data => {:pumi_select_id => "village", :pumi_select_collection_url => pumi.villages_path(:commune_id => "FILTER"), :pumi_select_collection_url_filter_interpolation_key => "FILTER", :pumi_select_collection_label_method => "name_#{I18n.locale}", :pumi_select_collection_value_method => "id", :pumi_select_disabled_target => "#village", :pumi_select_disabled_class => "my-disabled-class", :pumi_select_has_hidden_value => true}, class: 'form-control custom-select'})

    .form-group
      = f.hidden_field :target_province_ids
      %label
        = t('local_ngo.target_provinces')
        %span.text-danger *
      %input{ name: 'tags', placeholder: t("shared.please_select"), "data-collection" => Pumi::Province.all.to_json }

      - if f.object.errors[:target_province_ids].present?
        %small.text-danger
          = f.object.errors[:target_province_ids].join(", ")

    = f.input :website_url, label: t('local_ngo.website_url')

    .actions
      = link_to t('shared.cancel'), local_ngos_path, class: 'btn btn-secondary'
      = f.submit t('shared.save'), class: 'btn btn-primary'
