= render "shared/scorecard_setting_tab_nav"

.card.shadow.mb-4
  .card-body
    .d-md-flex
      .flex-grow-1
        = render 'filter'

      - if policy(LocalNgo).create?
        .text-right.d-flex.align-items-center
          .mr-1= render "shared/buttons/download_button", url: local_ngos_path(filter_params.merge(format: :xlsx))

          = render "shared/buttons/add_new_button", name: t("local_ngo.local_ngos"), url: new_local_ngo_path

          = render "more_option"

    = render partial: "shared/no_data", locals: { items: @local_ngos, url: new_local_ngo_path, label: t("local_ngo.add_new") }

    - if @local_ngos.present?
      .d-sm-flex
        = render "shared/pagination_title", objects: @local_ngos

      .table-responsive
        %table.table.table-hover.pretty
          %thead
            %tr
              %th #
              %th= t("local_ngo.code")
              %th= sortable "name", t("shared.name")
              %th= t('local_ngo.address')
              %th= sortable "target_provinces", t('local_ngo.target_provinces')
              %th= sortable "created_at", t("shared.created_at")
              %th

          %tbody
            - @local_ngos.each_with_index do |local_ngo, index|
              %tr
                %td= @pagy.from + index
                %td= local_ngo.code
                %td
                  = link_to_if local_ngo.website_url.present?, local_ngo.name, local_ngo.website_url, target: "_blank"
                %td= local_ngo.address
                %td= local_ngo.target_provinces
                %td= timeago(local_ngo.created_at).html_safe
                %td
                  .d-flex.justify-content-end
                    - if policy(local_ngo).manage_caf?
                      = link_to local_ngo_cafs_path(local_ngo), class: "btn btn-circle btn-sm btn-outline-info mr-2", data: { toggle: 'tooltip', placement: 'top', title: t('local_ngo.manage_caf') } do
                        %i.fas.fa-fw.fa-users

                    - if policy(local_ngo).update?
                      = link_to edit_local_ngo_path(local_ngo), class: "btn btn-circle btn-sm btn-outline-warning mr-1", data: { toggle: 'tooltip', placement: 'top', title: t('shared.edit')} do
                        %i.fas.fa-pen

                    - if policy(local_ngo).destroy?
                      - title = local_ngo.locked? ? t('local_ngo.already_in_used') : t('shared.delete')
                      %span{ data: { toggle: 'tooltip', placement: 'top', title: title }}
                        = link_to local_ngo_path(local_ngo), remote: true, class: ["btn btn-circle btn-sm btn-outline-danger", ("disabled" if local_ngo.locked?)] do
                          %i.fas.fa-trash-alt

    - if @pagy.pages > 1
      .pagy-wrapper.justify-content-lg-end.justify-content-center
        != pagy_bootstrap_compact_nav(@pagy)

= render "shared/modal_confirm"
