= render "shared/scorecard_setting_tab_nav"

.card.shadow.mb-4
  .card-body
    = render partial: "shared/no_data", locals: { items: @local_ngos }

    .d-sm-flex
      = render "shared/pagination_title", objects: @local_ngos
      .flex-grow-1

      %div
        = render "more_option"

        %a.btn.btn-primary.btn-sm.shadow-sm{ href: new_local_ngo_path }
          %i.fas.fa-plus.fa-sm.text-white-50
          = t("shared.add_new")

    - if @local_ngos.present?

      %table.table.table-hover.pretty
        %thead
          %tr
            %th= sortable "id", t('shared.number')
            %th= sortable "name", t("shared.name")
            %th= t('local_ngo.address')
            %th= t('local_ngo.target_provinces')
            %th

        %tbody
          - @local_ngos.each_with_index do |local_ngo, index|
            %tr
              %td= local_ngo.id
              %td= link_to local_ngo.name, local_ngo_cafs_path(local_ngo), class: 'btn btn-link p-0'
              %td= local_ngo.address
              %td= local_ngo.target_province_names
              %td.text-right
                = render 'shared/action_buttons', edit_url: edit_local_ngo_path(local_ngo), delete_url: local_ngo_path(local_ngo), object: local_ngo
