= render "shared/scorecard_setting_tab_nav"

.d-md-flex
  .flex-grow-1.my-2
    = render "filter"

  = render "more_option"

.card.shadow.mb-4
  .card-body
    - if @local_ngos.present?
      .d-sm-flex
        = render "shared/pagination_title"

      .table-responsive
        %table.table.table-hover.pretty
          %thead
            %tr
              %th #
              %th= t("local_ngo.code")
              %th= sortable "name", t("shared.name")
              %th= t('local_ngo.address')
              %th= sortable "target_provinces", t('local_ngo.target_provinces')
              %th= sortable "created_at", t("shared.created_at")
              %th

          %tbody
            - @local_ngos.each_with_index do |local_ngo, index|
              %tr
                %td= @pagy.from + index
                %td= local_ngo.code
                %td
                  = link_to_if local_ngo.website_url.present?, local_ngo.name, local_ngo.website_url, target: "_blank"
                %td= local_ngo.address
                %td= local_ngo.target_provinces
                %td= timeago(local_ngo.created_at).html_safe
                %td
                  .d-flex.justify-content-end
                    - if policy(local_ngo).manage_caf?
                      = link_to local_ngo_cafs_path(local_ngo), class: "btn btn-circle btn-sm btn-outline-info mr-2", data: { toggle: 'tooltip', placement: 'top', title: t('local_ngo.manage_caf') } do
                        %i.fas.fa-fw.fa-users

                    - if policy(local_ngo).update?
                      = link_to edit_local_ngo_path(local_ngo), class: "btn btn-circle btn-sm btn-outline-warning mr-1", data: { toggle: 'tooltip', placement: 'top', title: t('shared.edit')} do
                        %i.fas.fa-pen

                    - if policy(local_ngo).destroy?
                      - title = local_ngo.locked? ? t('local_ngo.already_in_used') : t('shared.delete')
                      %span{ data: { toggle: 'tooltip', placement: 'top', title: title }}
                        = link_to local_ngo_path(local_ngo), remote: true, class: ["btn btn-circle btn-sm btn-outline-danger", ("disabled" if local_ngo.locked?)] do
                          %i.fas.fa-trash-alt

    = render "shared/no_data", items: @local_ngos
    = render "shared/footers/pagination"

= render "shared/modal_confirm"
