= content_for :title do
  = t('scorecard.scorecard_settings')

.d-sm-flex.align-items-center.justify-content-end.mb-2
  = render "shared/buttons/back_button", url: scorecards_path

%ul.nav.nav-tabs
  - if policy(Language).create?
    %li.nav-item{ class: css_nested_active_class('languages') }
      %a.nav-link{:href => languages_path}
        %i.fas.fa-fw.fa-language
        %span.d-none.d-md-inline= t("sidebar.language")

  - if policy(Facility).index?
    %li.nav-item{ class: css_nested_active_class('facilities') }
      %a.nav-link{:href => facilities_path}
        %i.fas.fa-fw.fa-sitemap
        %span.d-none.d-md-inline= t("sidebar.scorecard_facility")

  - if policy(::Template).create?
    %li.nav-item{ class: css_nested_active_class('templates') }
      %a.nav-link{:href => templates_path}
        %i.fas.fa-fw.fa-bookmark
        %span.d-none.d-md-inline= t("sidebar.indicator_template")

  - if policy(LocalNgo).index?
    %li.nav-item{ class: css_nested_active_class('local_ngos') }
      %a.nav-link{:href => local_ngos_path}
        %i.fas.fa-fw.fa-users
        %span.d-none.d-md-inline= t("sidebar.local_ngo")

  - if policy(Dataset).public_view?
    %li.nav-item{ class: css_nested_active_class('datasets') }
      - category = program_dataset_categories.first
      %a.nav-link{ :href => category_datasets_path(category) }
        %i.fas.fa-fw.fa-school
        %span.d-none.d-md-inline
          = program_dataset_categories.length > 1 ? t("scorecard.institution_name") : category.name

  - if policy(RatingScale).create?
    %li.nav-item{ class: css_nested_active_class('rating_scales') }
      %a.nav-link{:href => rating_scales_path}
        %i.fas.fa-fw.fa-star
        %span.d-none.d-md-inline= t("sidebar.rating")

  - if policy(PdfTemplate).create?
    %li.nav-item{ class: css_nested_active_class('pdf_templates') }
      %a.nav-link{:href => pdf_templates_path}
        %i.far.fa-fw.fa-file-pdf
        %span.d-none.d-md-inline= t("sidebar.pdf_template")
