%ul#accordionSidebar.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion.toggled
  / Sidebar - Brand
  %a.sidebar-brand.d-flex.align-items-center.justify-content-center{:href => root_path}
    .sidebar-brand-icon
      = image_tag 'csc_logo.png', style: "width: 50px"

    .sidebar-brand-text.mx-3.flex-1
      %div= t('sidebar.community_scorecard')
      .program-name.mt-1= "@#{current_program.try(:shortcut_name) || "Admin"}"

  / Divider
  %hr.sidebar-divider.my-0/

  / Wrapper scroll
  .sidebar-list-wrapper
    / Nav Item - Dashboard
    - if policy(:dashboard).index? && ENV['GF_DASHBOARD_URL'].present?
      %li.nav-item
        %a.nav-link{:href => ENV['GF_DASHBOARD_URL'], target: '_blank'}
          %i.fas.fa-fw.fa-tachometer-alt
          %span= t("sidebar.dashboard")

    - if policy(Program).create?
      %li.nav-item{ class: css_active_class('programs') }
        %a.nav-link{:href => programs_path}
          %i.far.fa-fw.fa-clipboard
          %span= t("sidebar.program")

    - if policy(User).create?
      %li.nav-item{ class: css_active_class('users') }
        = link_to users_path, class: 'nav-link' do
          %i.fas.fa-fw.fa-user
          %span= t("sidebar.user")

    %li.nav-item{ class: [css_active_class('scorecards'), css_nested_active_class('scorecards')] }
      %a.nav-link{:href => scorecards_path}
        %i.far.fa-fw.fa-clipboard
        %span= t("sidebar.scorecard")

    - if policy(Message).index? || policy(MobileNotification).index?
      %li.nav-item{ class: [css_active_class('messages'), css_nested_active_class('messages'), css_active_class('mobile_notifications')] }
        - url = current_user.system_admin? ? mobile_notifications_path : messages_path
        %a.nav-link{ :href => url }
          %i.far.fa-fw.fa-bell
          %span= t("sidebar.notification")

    - if current_program.present? && policy(Program).update?
      %li.nav-item{ class: css_nested_active_class('programs/settings') }
        %a.nav-link{:href => setting_path}
          %i.fas.fa-fw.fa-wrench
          %span= t('sidebar.settings')

    - if policy(PrimarySchool).index?
      %li.nav-item{ class: css_active_class('primary_schools') }
        %a.nav-link{:href => primary_schools_path}
          %i.fas.fa-fw.fa-school
          %span= t('sidebar.primary_schools')

    - if policy(Thematic).index?
      %li.nav-item{ class: css_active_class('thematics') }
        %a.nav-link{:href => thematics_path}
          %i.fa-solid.fa-fw.fa-layer-group
          %span= t('sidebar.thematics')

    - if policy(ActivityLog).index?
      %li.nav-item{ class: css_active_class('activity_logs') }
        %a.nav-link{:href => activity_logs_path}
          %i.fas.fa-fw.fa-shoe-prints
          %span= t('sidebar.activity_logs')

    %li.nav-item{ class: css_active_class('about') }
      %a.nav-link{:href => about_path}
        %i.fas.fa-fw.fa-exclamation-circle
        %span= t('sidebar.about')

    / Divider
    %hr.sidebar-divider.d-none.d-md-block/

  / Sidebar Toggler (Sidebar)
  .text-center.d-none.d-md-inline.mt-3
    %button#sidebarToggle.rounded-circle.border-0

  .footer
    / Version
    .version
      %span= "#{t('sidebar.version')}: #{ENV.fetch('APP_VERSION') { 'development' }}"
