%nav.navbar.navbar-expand.navbar-light.bg-white.topbar.mb-4.static-top.shadow
  / Sidebar Toggle (Topbar)
  %button#sidebarToggleTop.btn.btn-link.d-md-none.rounded-circle.mr-3
    %i.fa.fa-bars

  / Topbar Navbar
  %ul.navbar-nav.ml-auto
    %li.nav-item.dropdown.no-arrow.mx-1
      %a#languageDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
        - language = { en: "english.png", km: "khmer.png" }
        = image_tag language[I18n.locale], alt: "locale", size: "24x24", class: "mr-2"
        %span= t("language.#{I18n.locale}")
        %i.fas.fa-angle-down.fa-fw

      .dropdown-list.dropdown-menu.dropdown-menu-right.shadow.animated--grow-in{"aria-labelledby" => "languageDropdown"}
        = simple_form_for(current_user, url: update_locale_users_path, method: :post, remote: true, html: { id: "switch-language" }) do |f|
          = f.hidden_field :language_code

          %a.switch-language.dropdown-item.d-flex.align-items-center{'data-language' => 'km'}
            .dropdown-list-image.mr-3
              = image_tag "khmer.png", alt: "locale", size: "24x24", class: "mr-2"
            .font-weight-bold
              .text-truncate= t('language.km')

          %a.switch-language.dropdown-item.d-flex.align-items-center{'data-language' => 'en'}
            .dropdown-list-image.mr-3
              = image_tag "english.png", alt: "locale", size: "24x24", class: "mr-2"
            .font-weight-bold
              .text-truncate= t('language.en')

    .topbar-divider.d-none.d-sm-block
    / Nav Item - User Information
    %li.nav-item.dropdown.no-arrow
      %a#userDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
        %span.mr-2.d-none.d-lg-inline.text-gray-600.small
          = current_user.display_name
        = image_tag 'default_profile.png', alt: 'profile', class: 'img-profile img-thumbnail rounded-circle'

      .dropdown-menu.dropdown-menu-right.shadow.animated--grow-in{"aria-labelledby" => "userDropdown"}
        %a.dropdown-item{"data-target" => "#logoutModal", "data-toggle" => "modal", :href => "#"}
          %i.fas.fa-sign-out-alt.fa-sm.fa-fw.mr-2.text-gray-400
          = t("sidebar.logout")
