= f.hidden_field :name
= f.hidden_field :province_id
= f.hidden_field :district_id
= f.hidden_field :commune_id
= f.hidden_field :target_province_ids
= f.hidden_field :website_url
= f.hidden_field :program_id
