.table-responsive
  %table.table.table-hover.pretty
    %thead
      %tr
        %th #
        %th= t("shared.name")
        %th= t('local_ngo.address')
        %th= t('local_ngo.target_provinces')
        %th= t('local_ngo.website_url')
        %th= t('shared.is_valid')
    %tbody
      - @batch.importing_local_ngos.each_with_index do |local_ngo, index|
        %tr
          %td
            = index + 1

            - if local_ngo.valid?
              = f.fields_for :local_ngos, local_ngo.local_ngo do |ff|
                = render 'field_for_local_ngo', f: ff

          %td= local_ngo.name
          %td= local_ngo.address
          %td= local_ngo.target_provinces
          %td= local_ngo.website_url

          / Validation status
          %td
            - if local_ngo.valid?
              %i.fas.fa-check.text-success

            - else
              %span.text-danger.d-flex.align-items-center{'data-toggle' => 'tooltip', 'data-placement': 'left', title: local_ngo.reason.join(', '), style: 'min-width: 80px;' }
                %i.fas.fa-times.text-danger
                %small.ml-1= t('shared.reason')
