.d-flex.facility
  .name{ class: ('sub-facility' unless facility.root?) }
    = "#{facility.name} (#{facility.code})"

  .w-25
    = facility.category_name

  .flex-1
    = timeago(facility.created_at).html_safe

  - if !facility.root? && policy(Indicator).create?
    = link_to facility_indicators_path(facility), class: "btn btn-circle btn-sm btn-outline-info mr-2", data: { toggle: 'tooltip', placement: 'top', title: t('facility.manage_indicator') } do
      %i.fas.fa-pencil-ruler

  - if policy(facility).destroy?
    - title = facility.locked? ? t('facility.already_in_used') : t('shared.delete')
    %span{ data: { toggle: 'tooltip', placement: 'top', title: title }}
      = link_to facility_path(facility), remote: true, class: ["btn btn-circle btn-sm btn-outline-danger", ("disabled" if facility.locked?)] do
        %i.fas.fa-trash-alt
