.w-50.view-center
  = simple_form_for @facility do |f|
    = f.input :name_en, label: t('facility.name_en')
    = f.input :name_km, label: t('facility.name_km')
    = f.input :code, label: t('facility.code')

    .form-group
      %label= t('facility.parent')
      = f.select :parent_id, current_program.facilities.roots.pluck(:"name_#{I18n.locale}", :id), {:include_blank => true}, {class: 'form-control custom-select'}

    .dataset.d-none
      .form-group
        %label= t('facility.dataset')
        .d-flex
          .form-check
            %label.form-check-label.form-check-toggle
              %input.form-check-input{type: 'checkbox', name: "facility[has_child]", checked: f.object.has_child, disabled: !f.object.parent_id.present?}
              %span

          .form-group.flex-1
            - dataset_error = f.object.errors[:category_id]
            = f.select :category_id, Category.pluck(:"name_#{I18n.locale}", :id), {:include_blank => true}, { class: ['form-control custom-select', ('is-invalid' if dataset_error.present?)], disabled: !f.object.has_child }
            .invalid-feedback.d-block= dataset_error.join(';')

    .actions
      = link_to t('shared.cancel'), facilities_path, class: 'btn btn-secondary'
      = f.submit t('shared.save'), class: 'btn btn-primary'
