= render "shared/scorecard_setting_tab_nav"

.card.shadow.mb-4.facilities
  .card-body.pretty
    = render partial: "shared/no_data", locals: { items: @facilities }

    = render "shared/pagination_title", objects: @facilities, url: new_facility_path

    - if @facilities.present?

      .facility-header
        %strong= sortable "name", t("facility.name")

      - @facilities.each do |facility|
        = render 'facility', facility: facility

        - facility.children.each do |child|
          = render 'facility', facility: child
