= render "shared/scorecard_setting_tab_nav"

.card.shadow.mb-4.facilities
  .card-body.pretty
    = render "shared/pagination_title", hide_pagy: true do
      - if policy(Facility).create?
        = render "shared/buttons/add_new_button", title: t('facility.add_new'), url: new_facility_path

    - if @facilities.present?
      .d-flex.facility-header
        %strong.name= sortable "name_#{I18n.locale}", t("facility.name")
        %strong.w-25= t("facility.dataset")
        %strong.flex-1= t("shared.created_at")

      - @facilities.each do |facility|
        = render 'facility', facility: facility

        - facility.children.each do |child|
          = render 'facility', facility: child

    = render "shared/no_data", items: @facilities
    = render "shared/footers/pagination"

= render "shared/modal_confirm"
