.w-75.view-center
  = simple_form_for [@facility, @indicator] do |f|
    .w-75
      .form-group
        %label= t('indicator.facility')
        .form-control= @facility.name

      = f.input :tag, label: t('indicator.tag')
      = f.input :name, label: t('indicator.name')

    .d-flex.mb-2
      %strong.w-25= t('indicator.language')
      .d-flex.w-75
        %strong.w-50= t('indicator.display_name')
        %strong.w-50= t('indicator.audio')

    - current_program.languages.each do |lang|
      - obj = @indicator.languages_indicators.select{ |a| a.language_id==lang.id }.first || f.object.languages_indicators.new

      = f.fields_for :languages_indicators, obj do |builder|
        = render 'language_indicator_field', f: builder, language: lang

    .actions
      = f.submit t('shared.save'), class: 'btn btn-primary'
      = link_to t('shared.cancel'), facility_indicators_path(@facility), class: 'btn btn-secondary'
