.w-75.view-center
  = simple_form_for [@facility, @indicator] do |f|
    .form-group
      %label= t('indicator.facility')
      .form-control= @facility.name

    = f.fields_for :tag, (@indicator.tag || @indicator.build_tag ) do |builder|
      .w-100{ 'data-tags' => Tag.pluck(:name) }
        %label
          = t('indicator.tag')
          %abbr{title: 'required'} *
        %div
          = builder.input :name, label: false, input_html: { readonly: !@indicator.editable_tag?, class: 'typeahead' }

    = f.input :name, label: t('indicator.name')
    = f.input :thematic_id, label: t('indicator.thematic'), collection: Thematic.pluck(:name, :id)

    .d-flex.mb-2
      %strong.w-25= t('indicator.language')
      .d-flex.w-75
        %strong.w-50
          = t('indicator.display_name')
          %abbr{title: 'required'} *
        .w-50.pl-2
          %strong
            = t('indicator.audio')
            %abbr{title: 'required'} *
          %span= t("indicator.audio_format_and_size_hint")

    - current_program.languages.each do |lang|
      - obj = @indicator.languages_indicators.select{ |a| a.language_id==lang.id }.first || f.object.languages_indicators.new

      = f.fields_for :languages_indicators, obj do |builder|
        = render 'language_indicator_field', f: builder, language: lang

    .actions
      = link_to t('shared.cancel'), facility_indicators_path(@facility), class: 'btn btn-secondary'
      = f.submit t('shared.save'), class: 'btn btn-primary'
