= render 'modal_clone_to_template'
= render 'modal_clone_from_template'

%button.btn{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
  %i.fas.fa-ellipsis-v

.dropdown-menu.dropdown-menu-right
  %a.btn.dropdown-item{"data-target" => "#templateModal", "data-toggle" => "modal", href: '#'}
    %i.far.fa-clone.drop-menu-icon
    %span= t("indicator.clone_to_template")

  %a.btn.dropdown-item{"data-target" => "#exampleModal", "data-toggle" => "modal", href: '#'}
    %i.fas.fa-copy.drop-menu-icon
    %span= t("indicator.copy_from_template")

  %a.btn.dropdown-item{ "data-target" => "#importModalIndicator", "data-toggle" => "modal", href: '#' }
    %i.fas.fa-file-import.drop-menu-icon
    = t("shared.import_from_zip_file")

  %a.btn.dropdown-item{ "data-target" => "#importModal", "data-toggle" => "modal", href: '#' }
    %i.fa-solid.fa-layer-group.drop-menu-icon
    = t("indicator.assign_thematic")

= render "modal_import_indicator"
= render "shared/modal_import_excel", form_url: import_facility_thematic_indicators_path(@facility), sample_url: facility_thematic_indicators_path(@facility, format: :xlsx)
