= content_for :title do
  = "#{@facility.name}: #{t('indicator.indicators')}"

= render "page_heading"

.card.shadow.mb-4
  .card-body
    - if @indicators.present?
      = render "shared/pagination_title"

      %table.table.table-hover.pretty
        %thead
          %tr
            %th= t('shared.number')
            %th= sortable "name", t('indicator.name')
            %th= t('indicator.tag')
            %th= sortable "created_at", t('shared.created_at')
            %th

        %tbody
          = render partial: 'indicator', collection: @indicators

    = render "shared/no_data", items: @indicators
    = render "shared/footers/pagination"

= render "shared/modal_confirm"
