= render "page_title", title: "#{t('scorecard.request_unlock')}: #{@scorecard.uuid}"

.card.shadow.mb-4
  .card-body
    %h5.mb-3
      = t('scorecard.unlock_request_review')
    
    %p.text-muted
      = t('scorecard.scorecard_uuid')
      = @scorecard.uuid
    
    %p.text-muted
      = t('scorecard.requested_by')
      = @unlock_request.proposer.email
    
    %p.text-muted
      = t('scorecard.requested_at')
      = @unlock_request.created_at.strftime("%Y-%m-%d %H:%M")

    - if policy(@unlock_request).update?
      = render 'form', form_url: scorecard_unlock_request_path(@scorecard.uuid, @unlock_request), submit_label: t('shared.save'), form_method: :put

    - elsif policy(@unlock_request).review?
      = render 'review_form'

    - else
      = render 'preview_form'
