= render "scorecards/unlock_requests/page_title"

.card.shadow.mb-4
  .card-body
    %h5.mb-3
      = t('scorecard.unlock_request_form')

    %p
      %span.text-muted= t('scorecard.scorecard_uuid') + ": "
      = link_to @scorecard.uuid, scorecard_path(@scorecard.uuid), target: "_blank", class: 'text-primary'

    = render 'form', form_url: scorecard_unlock_requests_path(@scorecard.uuid), submit_label: t('shared.request'), form_method: :post
