.w-75.view-center
  = simple_form_for @pdf_template do |f|
    = f.input :name, label: t('pdf_template.name')

    .form-group
      = f.label :language_code do
        = t("pdf_template.language_code")
        %abbr{title: "required"} *

      = f.select(:language_code, program_languages.pluck(:label, :code),{}, class: 'form-control custom-select')

      .d-block.invalid-feedback
        = f.object.errors[:language_code].join(';')

    .form-group
      %label.d-flex
        .flex-grow-1= t('pdf_template.content')

        %a.btn{href: (pdf_template_preview_path(@pdf_template) unless @pdf_template.new_record?), target: '_blank'}
          %span{"data-placement" => "top", "data-toggle" => "tooltip", :title => t('pdf_template.make_sure_you_save_it_before_preview')}
            %i.fas{class: (@pdf_template.new_record? ? "fa-eye-slash" : "fa-eye") }

      = f.input :content, label: false

    %div
      - Templates::PdfTemplateField.all.each do |field|
        %a.btn.btn-link.template-field{"data-code" => field[:code], "data-toggle" => "tooltip", "data-placement" => "top", :title => t(field[:tooltip])}= field[:name]

    .actions
      = link_to t('shared.cancel'), pdf_templates_path, class: 'btn btn-secondary'
      = f.submit t('shared.save'), class: 'btn btn-primary'
