.w-50.view-center
  = simple_form_for [@local_ngo, @caf] do |f|
    .d-flex
      .control{style: 'margin-right: -16px;'}
        = form_check_toggle({name: "caf[actived]", checked: f.object.actived}).html_safe
      %label.flex-1= t('caf.set_active')

    = f.input :name, label: t('local_ngo.name')

    .form-group
      %label= t('caf.gender')
      .d-flex
        - Caf::GENDERS.each do |gender|
          .mr-3
            = f.radio_button :sex, gender
            = label :sex, t("caf.#{gender}")

    = render "shared/date_field", f: f, field: :date_of_birth, label: t('caf.date_of_birth')
    = f.input :tel, label: t('caf.tel')
    = f.input :address, label: t('caf.address')
    = f.input :educational_background_id, collection: EducationalBackground.pluck(:"name_#{I18n.locale}", :id), label: t('caf.educational_background'), prompt: t('shared.please_select')

    .form-group
      %label= t('caf.scorecard_knowledge')
      .tooltips{ 'data-toggle' => 'tooltip', 'data-placement' => 'left', 'data-separate-line' => 'true', 'data-html' => 'true'}
        = select_tag 'caf[scorecard_knowledge_ids][]', options_for_select(ScorecardKnowledge.pluck(:"name_#{I18n.locale}", :id), f.object.scorecard_knowledge_ids), multiple: true, "data-live-search" => "true", "data-count-selected-text" => "{0} #{t('caf.lessons_selected')}", "data-selected-text-format" => "count > 1", "data-none-selected-text" => t("shared.please_select"), class: 'selectpicker form-control'

    .actions
      = link_to t('shared.cancel'), local_ngo_cafs_path(@local_ngo), class: 'btn btn-secondary'
      = f.submit t('shared.save'), class: 'btn btn-primary'
