.d-sm-flex.align-items-center.justify-content-between.mb-4
  %h1.h3.mb-0.text-gray-800= "#{@local_ngo.name}: #{t('caf.cafs')}"
  %div
    = link_to local_ngos_path, class: 'btn btn-info mr-2 btn-sm shadow-sm' do
      %i.fas.fa-chevron-left
      = t('shared.back')

    %a.btn.btn-primary.btn-sm.shadow-sm{ href: new_local_ngo_caf_path(@local_ngo) }
      %i.fas.fa-plus.fa-sm.text-white-50
      = t("shared.add_new")

.card.shadow.mb-4
  .card-body
    = render partial: "shared/no_data", locals: { items: @cafs }

    - if @cafs.present?
      = render "shared/pagination_title"

      %table.table.table-hover.pretty
        %thead
          %tr
            %th= t('shared.number')
            %th= sortable "name", t("caf.name")
            %th= t('caf.address')
            %th

        %tbody
          - @cafs.each_with_index do |caf, index|
            %tr
              %td= @pagy.from + index
              %td= caf.name
              %td= caf.address
              %td.text-right
                %button.btn{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                  %i.fas.fa-ellipsis-v

                .dropdown-menu.dropdown-menu-right
                  - if policy(caf).update?
                    = link_to edit_local_ngo_caf_path(@local_ngo, caf), class: "btn dropdown-item" do
                      %i.fas.fa-pen.drop-menu-icon
                      %span= t('shared.edit')

                  - if policy(caf).destroy?
                    = link_to local_ngo_caf_path(@local_ngo, caf), method: :delete, class: "btn dropdown-item", :data => {:confirm => t('caf.are_you_sure_to_delete')} do
                      %i.fas.fa-trash-alt.drop-menu-icon
                      %span= t('shared.delete')
