.d-sm-flex.align-items-center.justify-content-between.mb-4
  %h1.h3.mb-0.text-gray-800.flex-1= "#{@local_ngo.name}: #{t('caf.cafs')}"

  = render "more_buttons"

.card.shadow.mb-4
  .card-body
    = render 'filter'

    = render partial: "shared/no_data", locals: { items: @cafs, url: new_local_ngo_caf_path(@local_ngo), label: t("caf.add_new") }

    - if @cafs.present?
      = render "shared/pagination_title", objects: @cafs

      %table.table.table-hover.pretty
        %thead
          %tr
            %th #
            %th= sortable "name", t("caf.name")
            %th= t('caf.gender')
            %th= t('caf.tel')
            %th= t('caf.date_of_birth')
            %th= t('caf.based_location')
            %th= t('caf.educational_background')
            %th= t('caf.scorecard_knowledge')
            %th= sortable "created_at", t("shared.created_at")
            %th

        %tbody
          - @cafs.each_with_index do |caf, index|
            %tr{ class: ("disabled-bg" unless caf.actived?) }
              %td= @pagy.from + index
              %td= caf.name
              %td
                = t("caf.#{caf.sex}") if caf.sex.present?
              %td.text-nowrap= caf.tel
              %td.text-nowrap= dob(caf.date_of_birth).html_safe
              %td= caf.based_location_name
              %td= caf.educational_background_name
              %td
                = scorecard_knowledges_html(caf).html_safe

              %td= timeago(caf.created_at).html_safe
              %td.text-nowrap.text-right
                - if policy(caf).update?
                  - title = caf.actived? ? t("shared.deactivate") : t("shared.activate")
                  = link_to local_ngo_caf_path(@local_ngo, caf, caf: {actived: !caf.actived}), class: "btn btn-circle btn-sm btn-outline-info mr-2", data: { toggle: 'tooltip', placement: 'top', title: title }, method: :put do
                    %i.fas{class: (caf.actived? ? "fa-eye" : "fa-eye-slash")}

                = render 'shared/action_buttons', edit_url: edit_local_ngo_caf_path(@local_ngo, caf), delete_url: local_ngo_caf_path(@local_ngo, caf), object: caf

    - if @pagy.pages > 1
      .pagy-wrapper.justify-content-lg-end.justify-content-center
        != pagy_bootstrap_nav(@pagy)

= render "shared/modal_confirm"
