- if flash[:notice] == t('scorecard.create_successfully')
  #scorecardModal.modal{:role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content
        .modal-header
          - if test_mode?
            .ribbon-wrapper
              .ribbon= t('shared.testing')

          %div{class: ('ml-5' if test_mode?)}
            %h5.modal-title= t('scorecard.scorecard')

            - if test_mode?
              %span.text-gray-600.small= "(#{t('shared.you_are_in_testing_mode')})"

          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×

        .modal-body
          .d-flex
            %span.text-primary.mr-2
              = render 'shared/copy', value: scorecard_url(@scorecard.uuid), label: @scorecard.uuid, tooltip_title: (t('shared.copied_testing_code') if test_mode?)

            %span= t('scorecard.use_this_code_to_download_scorecard')
        .modal-footer
          %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"}= t("shared.close")
