.d-sm-flex.mb-4
  .d-flex.flex-column.flex-grow-1
    / Title
    .d-flex.align-items-center
      %h1.h3.mb-0.text-gray-800.line-badge{ class: @scorecard.scorecard_type}
        %span= "#{t('scorecard.scorecard_detail')}: "
        %small.text-muted= @scorecard.facility.code
        %span= @scorecard.uuid

      / Progress status
      %div.ml-1= status_html(@scorecard).html_safe

    / Short description
    .my-2.card-subtitle.text-muted= scorecard_descriptions.html_safe

  .w-25.text-right
    = render 'button_request_change', scorecard: @scorecard

    - if policy(@scorecard).in_review?
      %button.btn.btn-primary.btn-sm.shadow-sm.mr-2{type: 'button', "data-toggle" => "modal", "data-target" => "#confirmModal"}
        = t("shared.approve")

      = render "scorecards/show/modal_mark_as_completed"

    %a.btn.btn-secondary.btn-sm.shadow-sm{ href: scorecards_path }
      %i.fas.fa-arrow-left.fa-sm.text-white-50
      = t("shared.back")
