.circles-list
  %ol
    %li
      %a.btn.btn-link.pl-0.text-left= t("scorecard.planned_start_date")
      .at= l(@scorecard.planned_start_date, format: :nice)

    %li
      %a.btn.btn-link.pl-0.text-left{class: ('disabled' unless @scorecard.conducted_date.present?)}= t("scorecard.implemented_date")

      - if @scorecard.conducted_date.present?
        %span.badge.badge-light.duration= distance_of_time_in_words(@scorecard.planned_start_date, @scorecard.conducted_date)

        .at= l(@scorecard.conducted_date, format: :nice)

    %li
      %a.btn.btn-link.pl-0.text-left{class: ('disabled' unless @scorecard.finished_date.present?)}= t("scorecard.submitted_date")

      - if @scorecard.finished_date.present?
        %span.badge.badge-light.duration= distance_of_time_in_words(@scorecard.conducted_date, @scorecard.finished_date)
        .at= l(@scorecard.finished_date, format: :nice)
