= simple_form_for [:system, @contact] do |f|
  = f.input :contact_type, collection: Contact::CONTACT_TYPES, include_blank: false
  = f.input :value

  .actions
    = link_to t('shared.cancel'), system_contacts_path, class: 'btn btn-secondary'
    = f.submit t('shared.save'), class: 'btn btn-primary'
