%section.header
  = render "shared/page_title", title: t('contact.system_contact'), url: new_system_contact_path, label: t('shared.add_new')

.clearfix
.card
  .card-body
    %table.table.table-hover.table-responsive.pretty
      %thead
        %tr
          %th= t('shared.contact_type')
          %th= t('shared.value')
          %th= t('shared.created_at')
          %th

      %tbody
        = render @contacts

= render "shared/modal_confirm"
