- content_for :title do
  = t('contact.system_contact')

- if policy(Contact).create?
  .d-flex.justify-content-end.mb-2
    = render "shared/buttons/add_new_button", title: t('shared.add_new', name: t('contact.system_contact')), url: new_system_contact_path

.card
  .card-body.table-responsive
    = render "shared/pagination_title"

    %table.table.table-hover.pretty
      %thead
        %tr
          %th= t('shared.contact_type')
          %th= t('shared.value')
          %th= t('shared.created_at')
          %th

      %tbody
        = render @contacts

    = render "shared/no_data", items: @contacts
    = render "shared/footers/pagination"

= render "shared/modal_confirm"
