.card.shadow.mb-4
  .card-body
    = simple_form_for current_program, url: scorecards_settings_ratings_path, method: 'post' do |f|

      %div{style: 'overflow-x: scroll;'}
        %table.table.table-bordered
          %thead
            %tr
              %th
              - current_program.languages.each do |lang|
                %th
                  = lang.name
                  %span{"data-toggle" => "tooltip", "data-placement" => "right", title: "#{t('indicator.audio')} #{t('indicator.audio_format_and_size_hint')}"}
                    %i.fas.fa-info-circle

          %tbody
            - RatingScale.defaults.each do |hash_obj|
              - rating_scale = current_program.rating_scales.select{ |a| a.code==hash_obj[:code] }.first || RatingScale.new(hash_obj)

              = f.fields_for :rating_scales, rating_scale do |ff|
                %tr
                  %td
                    = ff.hidden_field :id, value: rating_scale.id
                    = ff.hidden_field :code, value: rating_scale.code
                    = ff.hidden_field :value, value: rating_scale.value
                    = ff.hidden_field :name, value: rating_scale.name
                    = rating_scale.code

                  = render 'language_rating_scales', f: ff, rating_scale: rating_scale

      .actions
        = f.submit t('shared.save'), class: 'btn btn-primary'
