= f.hidden_field :year
= f.hidden_field :unit_type_id
= f.hidden_field :facility_id
= f.hidden_field :scorecard_type
= f.hidden_field :province_id
= f.hidden_field :district_id
= f.hidden_field :commune_id
= f.hidden_field :dataset_id
= f.hidden_field :primary_school_code
= f.hidden_field :local_ngo_id
= f.hidden_field :planned_start_date
= f.hidden_field :planned_end_date
= f.hidden_field :creator_id
= f.hidden_field :program_id
= f.hidden_field :_destroy, value: (f.object.valid? ? nil : 1)
