- content_for :title do
  = t('scorecard_batch.scorecard_batch')

= render "filter"

.card.shadow.mb-4
  .card-body
    - if @scorecard_batches.present?
      = render "shared/pagination_title"

      .table-responsive
        %table.table.table-hover.pretty
          %thead
            %tr
              %th #
              %th= t("shared.code")
              %th= t("scorecard_batch.filename")
              %th= t("shared.description")
              %th= t("scorecard_batch.imported_by")
              %th= t('scorecard_batch.imported_at')
          %tbody
            - @scorecard_batches.each_with_index do |batch, index|
              %tr
                %td= index + 1
                %td= link_to batch.code, scorecards_path(batch_code: batch.code), class: 'text-primary'
                %td= batch.filename
                %td
                  = short_description(batch)
                  %span{'data-toggle' => 'tooltip', title: long_description(batch), 'data-html' => 'true'}
                    %i.fas.fa-info-circle
                %td= batch.user_email
                %td= timeago(batch.created_at, 'datetime').html_safe

    = render "shared/no_data", items: @scorecard_batches
    = render "shared/footers/pagination"

= render "shared/modal_confirm"
