.w-50.view-center
  = simple_form_for @primary_school do |f|
    = f.input :code, label: t('primary_school.code')
    = f.input :name_en, label: t('primary_school.name_en')
    = f.input :name_km, label: t('primary_school.name_km')
    = render partial: "shared/select_field", locals: { f: f, field_name: "province_id", select_id: "province", select_target: "district", select_collection_url: pumi.provinces_path, select_populate_on_load: true }

    = render partial: "shared/select_field", locals: { f: f, field_name: "district_id", select_id: "district", select_target: "commune", select_collection_url: pumi.districts_path(:province_id => "FILTER"), select_disabled_target: "#district", select_allow_none: true }

    = render partial: "shared/select_field", locals: { f: f, field_name: "commune_id", select_id: "commune", select_target: "village", select_collection_url: pumi.communes_path(:district_id => "FILTER"), select_disabled_target: "#commune", select_allow_none: true }

    .actions
      = f.submit t('shared.save'), class: 'btn btn-primary'
      = link_to t('shared.cancel'), primary_schools_path, class: 'btn btn-secondary'
