= render 'devise/shared/logo'

.form-wrapper#login_form
  %h2.font-weight-normal.text-center.my-5
    ចូលប្រើ / Sign in
  = link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: 'btn btn-outline-primary w-100' do
    = image_tag 'google.png', style: 'width: 18px;'
    = t('devise.sign_in_with', omniauth: 'Gmail')

  .d-flex.flex-row.align-items-center
    .line.flex-grow-1
    .or-label OR
    .line.flex-grow-1

  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-group
      = f.label :email, t('devise.email')
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'

    .form-group
      = f.label :password, t('devise.password')
      = f.password_field :password, autocomplete: "current-password", class: 'form-control'

    - if devise_mapping.rememberable?
      .form-group.form-check.pt-1
        = f.check_box :remember_me
        = f.label :remember_me, t('devise.remember_me'), class: 'form-check-label'

    .form-group.pt-1
      = recaptcha_tags

    .actions.form-group
      = f.submit "Login", class: 'btn btn-primary w-100 mb-2'

  .text-right.mb-4
    .form-group
      = render "devise/shared/links"
    .form-group
      = link_to t('about.about_us'), about_path
    .form-group
      = link_to "ទាញយកកម្មវិធី / Download App", ENV['APP_PLAY_STORE_URL'], target: "_blank"

    .form-group
      %span.fs-xs
        = t("sidebar.version")
        = ENV['APP_VERSION']

  - if ENV["ENABLE_RESET_DATA_SCHEDULE"] == 'true'
    .alert.alert-info
      Log in with admin@program.org / 123456 and feel free to do changes as system is reset every night.

