#content
  .mx-auto.introduction
    - unless user_signed_in?
      .d-flex.my-4
        = link_to t('shared.back'), new_user_session_path

    .text-center
      = image_tag 'csc_logo.png', size: '120x120', alt: "CSC logo", class: "rounded-xl"

      %h3.font-weight-bold.mt-4.mb-0
        = "អំពីកម្មវិធី / About Us"

    .mt-4
      %p= "គម្រោង «ប្លាស្ទិកឆ្លាតវៃកម្ពុជា» គឺជាផ្នែកមួយនៃកម្មវិធី EU SWITCH-Asia ក្រោមជំនួយគាំទ្រពីសហភាពអឺរ៉ុប (European Union) និងមានការរួមចំណែកពីសហប្រតិបត្តិការអន្តរជាតិនៃប្រទេសអូទ្រីស (International Partnerships Austria)។ គម្រោងនេះដឹកនាំដោយអង្គការឃែរអូទ្រីស (CARE Austria) និងអនុវត្តដោយ អង្គការឃែរកម្ពុជា (CARE Cambodia) ជាមួយដៃគូគម្រោងចំនួន ២ គឺ សមាគមប្រជាធិបតេយ្យឯករាជ្យ នៃសេដ្ឋកិច្ចក្រៅប្រព័ន្ធ (IDEA) និងក្រុមប្រឹក្សាយុវជនកម្ពុជា (YCC)។ គម្រោងនេះនឹងអនុវត្តរយៈពេល ៣ ឆ្នាំ (២០២៥-២០២៧) ក្នុងគោលបំណងកាត់បន្ថយការបំពុលដោយប្លាស្ទិក និងការបញ្ចេញឧស្ម័នផ្ទះកញ្ចក់ តាមរយៈការគាំទ្រ សហគ្រាសធនតូច និងមធ្យមក្នុងការប្រើប្រាស់ការវេចខ្ចប់ប្រកបដោយនិរន្តរភាពការពង្រឹងប្រព័ន្ធការប្រមូលនិង ការគ្រប់គ្រងសំណល់រឹង និងការកែឆ្នៃសំណល់ប្លាស្ទិក (រួមបញ្ចូលទាំងភាគីពាក់ព័ន្ធក្នុង និងក្រៅប្រព័ន្ធ) ការបង្កើនការយល់ដឹងរបស់សាធារណជន និងការលើកកម្ពស់ហិរញ្ញប្បទានបៃតង។".html_safe
      %p= "ប័ណ្ណដាក់ពិន្ទុសហគមន៍ឌីជីថល (DCSC) គឺជាដំណើរការគណនេយ្យភាពសង្គមមួយដែលត្រូវបានរចនាឡើងដើម្បី ពង្រឹងភាពជាដៃគូនិងលើកកម្ពស់សិទ្ធិអំណាចដល់ភាគីពាក់ព័ន្ធផ្សេងៗនៃគម្រោង «ប្លាស្ទិកឆ្លាតវៃកម្ពុជា»។ វិធីសាស្រ្តនេះ មានគោលដៅកាត់បន្ថយផលប៉ះពាល់លើបរិស្ថាននិងការកាត់បន្ថយប្រើប្រាស់ផ្លាស្ទិចក្នុងការកែលម្អសេវាសាធារណៈនៅថ្នាក់ជាតិនិងថ្នាក់ក្រោមជាតិ។ គោលបំណងគឺដើម្បីបង្កើនអភិបាលកិច្ចនិងគាំទ្រដល់ការធ្វើផែនការផ្អែកលើទិន្នន័យនិង ភស្តុតាងជាក់ស្តែងដោយលើកកម្ពស់ការចូលរួមពីអាជ្ញាធរ សហគមន៍ និងរោងចក្រគោលដៅតាមរយៈយន្តការសន្ទនា បែបស្ថាបនាដ៏មានអត្ថន័យស្របទៅតាមសូចនាករសំខាន់ៗដែលមានផលប៉ះពាល់នៃគម្រោង «ប្លាស្ទិកឆ្លាតវៃកម្ពុជា»។"
      %p= "ប័ណ្ណដាក់ពិន្ទុឌីជីថលដំណាក់កាលទី២ អនុវត្តដោយគម្រោង «ប្លាស្ទិកឆ្លាតវៃកម្ពុជា» នៃអង្គការឃែរកម្ពុជា គឺជាការ ធ្វើបច្ចុប្បន្នភាពទំនើបកម្ម កម្មវិធី «ប័ណ្ណដាក់ពិន្ទុឌីជីថល» ក្នុងគោលបំណងគាំទ្រនិងពង្រឹងការចូលរួមរបស់ប្រជាពលរដ្ឋ ប្រកបដោយអត្ថន័យតាមរយៈការប្រើប្រាស់បច្ចេកវិទ្យាឌីជីថលសំដៅជំរុញការអនុវត្តគណនេយ្យភាពសង្គមអោយមាន ប្រសិទ្ធភាព (Ref: ISAF Phase II - 2019-2024)” ដោយទទួលបានការគាំទ្រមូលនិធិពីសហភាពអឺរ៉ុប អនុវត្តដោយអង្គការឃែរកម្ពុជា វិទ្យាស្ថានគោលនយោបាយនិងតស៊ូមតិ និងអង្គការ InSTEDD។"

      %p= "PlasticSmart Cambodia is part of the EU SWITCH-Asia program, funded by the European Union (EU) with co-financing from Austrian Development Cooperation, led by CARE Austria and implemented by CARE Cambodia with 2 local implementation partners, namely Independent Democracy of Informal Economy Association (IDEA) and Youth Council Cambodia (YCC).​​​​ The project will beimplemented for three years (2025-2027) with the aim of reducing plastic pollution and greenhouse gas emissions by supporting small and medium enterprises (SME) in the use of sustainable packaging, strengthening the solid waste collection and management system and recycling (including stakeholders inside and outside the system), raising public awareness, and promoting green financing."
      %p= "Digital Community Scorecard (DCSC) is a social accountability system designed to strengthen partnerships and empower various stakeholders of the PlasticSmart Cambodia Project. This methodology embeds environmental and plastic-reduction goals as cross-cutting themes in public service improvement at the national and sub-national levels. The objective is to enhance governance and support evidence-based planning by promoting participation from authorities, participating factories, and communities through the meaningful dialogue mechanism via impact indicators of the PlasticSmart Cambodia."
      %p= "Digital Community Scorecard Phase II, implemented by PlasticSmart Cambodia, is an enhanced and updated version of the “Digital Community Scorecard” system developed by the project “Supporting meaningful civic engagement and improved social accountability by leveraging digital technologies (Re: ISAF Phase II - 2019-2024)”, which is funded by the European Union and implemented by CARE Cambodia, the Institute for Policy and Advocacy (API), and Innovative Support to Emergency, Diseases and Disasters (InSTEDD)."

    = render 'devise/shared/contact'

    -# V2
    .text-center.mt-5.mb-4
      %div
        %strong= "កំណែទី២ (ឆ្នាំ២០២៥)៖ សហការអនុវត្តដោយ"
      %div
        %strong= "Version 2 (2025), Co-implemented by"

    %div
      = render partial: 'devise/shared/stakeholders_v2', locals: { wrapper_class: 'stackholders-lg' }

    -# V1
    .text-center.my-4
      %div
        %strong= "កំណែទី១៖ សហការផលិតដោយ"
      %div
        %strong= "Version 1, Co-produced by"

    %div
      = render partial: 'devise/shared/stakeholders', locals: { wrapper_class: 'stackholders-lg' }

    %div{ style: "height: 200px"}
