= render "shared/page_title", title: t("sidebar.notification")
= render "messages/nav_tabs"

.card.shadow.mb-4
  .card-body
    = render partial: "shared/no_data", locals: { items: @notifications, url: new_mobile_notification_path, label: t('shared.add_new', name: t("sidebar.notification")) }

    - if @notifications.present?
      = render "shared/pagination_title", objects: @notifications, url: new_mobile_notification_path, label: t('shared.add_new', name: t("sidebar.notification")), hide_pagy: true

      %table.table.table-hover
        %thead
          %tr
            %th #
            %th= t('mobile_notification.notification_title')
            %th= t('mobile_notification.notification_text')
            %th= t('shared.description')
            %th= t('shared.created_at')
            %th
        %tbody
          - @notifications.each_with_index do |notification, index|
            %tr
              %td= @pagy.from + index
              %td= notification.title
              %td= notification.body
              %td= notification.description
              %td= timeago(notification.created_at).html_safe
              %td
                - if notification.success_count.present?
                  %span.badge.badge-success Delivered
                - else
                  %span.badge.badge-info Sent

    - if @pagy.pages > 1
      .pagy-wrapper.justify-content-lg-end.justify-content-center
        != pagy_bootstrap_nav(@pagy)
