.d-flex
  .flex-grow-1
    = render "messages/nav_tabs"

  - if policy(MobileNotification).create?
    = render "shared/buttons/add_new_button", title: t('shared.add_new', name: t("sidebar.notification")), url: new_mobile_notification_path

.card.shadow.mb-4
  .card-body
    - if @notifications.present?
      = render "shared/pagination_title"

      %table.table.table-hover
        %thead
          %tr
            %th #
            %th= t('mobile_notification.notification_title')
            %th= t('mobile_notification.notification_text')
            %th= t('shared.description')

            - if current_user.system_admin?
              %th= t('mobile_notification.app_version')

            %th= t('shared.created_at')
            %th

        %tbody
          - @notifications.each_with_index do |notification, index|
            %tr
              %td= @pagy.from + index
              %td= notification.title
              %td= notification.body
              %td= notification.description

              - if current_user.system_admin?
                %td= notification.app_versions.join(', ').presence || t('mobile_notification.all_version')

              %td= timeago(notification.created_at).html_safe
              %td
                - if notification.success_count.present?
                  %span.badge.badge-success Delivered
                - else
                  %span.badge.badge-info Sent

    = render "shared/no_data", items: @notifications
    = render "shared/footers/pagination"
