%table.table.table-bordered
  %thead
    %tr
      %th.text-center{:scope => "col"} #
      %th{:scope => "col"}= t("scorecard.selected_indicators")
      %th{:scope => "col"}
        = t("scorecard.average_score")
        %div= "(#{t('scorecard.median')})"

  %tbody
    - @voting_indicators.each_with_index do |criteria, index|
      %tr
        %td.text-center= index + 1
        %td
          .mb-1= criteria["name"]
          .d-flex
            - VotingIndicator.medians.keys.each do |item|
              .d-flex.rating-wrapper
                = image_tag "#{item}.png", style: 'width: 24px'
                .flex-grow-1.d-flex.align-items-center.justify-content-center= criteria["#{item}_count"]

          .text-muted.card-subtitle.text-sm.mt-2
            %span= "#{t('scorecard.average_score')}: "
            = participant_information(criteria, 'average_score').html_safe

        %td= VotingIndicator.medians[criteria["median"]]
