.d-flex.category{ class: ('sub-category' unless category.root?) }
  .flex-grow-1= category.name
  %button.btn{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
    %i.fas.fa-ellipsis-v

  .dropdown-menu.dropdown-menu-right
    - if !category.root? && policy(Indicator).create?
      = link_to category_indicators_path(category), class: "btn dropdown-item" do
        %i.fas.fa-pencil-ruler.drop-menu-icon
        %span= t('category.manage_indicator')

    - if policy(category).update?
      = link_to edit_category_path(category), class: "btn dropdown-item" do
        %i.fas.fa-pen.drop-menu-icon
        %span= t('shared.edit')

    - if policy(category).destroy?
      = link_to category_path(category), method: :delete, class: "btn dropdown-item", :data => {:confirm => t('category.are_you_sure_to_delete')} do
        %i.fas.fa-trash-alt.drop-menu-icon
        %span= t('shared.delete')
