.w-50.view-center
  = simple_form_for @category do |f|
    = f.input :name, label: t('category.name')
    = f.input :code, label: t('category.code')

    .form-group
      %label= t('category.parent')
      = f.select :parent_id, current_program.categories.roots.pluck(:name, :id), {:include_blank => true}, {class: 'form-control'}

    .actions
      = f.submit t('shared.save'), class: 'btn btn-primary'
      = link_to t('shared.cancel'), categories_path, class: 'btn btn-secondary'
