#content.categories
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
      %h3= t('category.categories')
      = link_to new_category_path, class: 'btn btn-primary' do
        %i.fas.fa-plus

  = render partial: "shared/no_data", locals: { items: @categories }

  - if @categories.present?
    .medium-width
      .category-header
        %strong= t('category.name')

      - @categories.each do |category|
        = render 'category', category: category

        - category.children.each do |child|
          = render 'category', category: child
