- content_for :title do
  = t("category.categories")

- if policy(Category).create?
  .d-flex.justify-content-end.mb-2
    = render "shared/buttons/add_new_button", title: t('shared.add_new', name: t("category.category")), url: new_category_path

.card.shadow.mb-4
  .card-body
    - if @categories.present?
      = render "shared/pagination_title"

      .table-responsive
        %table.table.table-hover.pretty
          %thead
            %tr
              %th= sortable "code", t('category.code')
              %th= sortable "name_en", t('category.name_en')
              %th= sortable "name_km", t('category.name_km')
              %th= t('category.hierarchy')
              %th= t('category.number_of_record')
              %th= sortable "created_at", t('shared.created_at')
              %th= sortable "updated_at", t('shared.updated_at')
              %th
          %tbody
            - @categories.each do |category|
              %tr
                %td= category.code
                %td= category.name_en
                %td= category.name_km
                %td= category.hierarchy_display
                %td= category.datasets.length
                %td= timeago(category.created_at).html_safe
                %td= timeago(category.updated_at).html_safe
                %td
                  .d-flex.justify-content-end
                    = link_to category_datasets_path(category), class: "btn btn-circle btn-sm btn-outline-info mr-2", data: { toggle: 'tooltip', placement: 'top', title: t('category.manage_dataset') } do
                      %i.fas.fa-fw.fa-solid.fa-database

                    = render 'shared/action_buttons', edit_url: edit_category_path(category), delete_url: category_path(category), object: category

    = render "shared/no_data", items: @categories
    = render "shared/footers/pagination"

= render "shared/modal_confirm"
