= render "shared/page_title", title: t("category.categories"), url: new_category_path

.card.shadow.mb-4.categories
  .card-body
    = render partial: "shared/no_data", locals: { items: @categories }

    - if @categories.present?
      = render "shared/pagination_title"

      .category-header
        %strong= t('category.name')

      - @categories.each do |category|
        = render 'category', category: category

        - category.children.each do |child|
          = render 'category', category: child
