%table.table.table-bordered
  %thead
    %tr
      %th.align-middle.text-center{:scope => "col"}= t("scorecard.criteria")
      %th.align-middle.text-center{:scope => "col"}= t("scorecard.median")
      %th.align-middle.text-center{:scope => "col"}= t("scorecard.strength")
      %th.align-middle.text-center{:scope => "col"}= t("scorecard.weakness")
      %th.align-middle.text-center{:scope => "col"}= t("scorecard.suggested_action")

  %tbody
    - @voting_indicators.each do |indicator|
      %tr
        %td.text-break= indicator.indicatorable.name
        %td.text-center= VotingIndicator.medians[indicator.median]
        %td
          %ul.text-break
            - indicator.strength.each do |str|
              %li= str

        %td
          %ul.text-break
            - indicator.weakness.each do |str|
              %li= str
        %td
          %ul.text-break
            - indicator.suggested_actions.each do |action|
              %li
                = action.content
                = "(selected)" if action.selected

- if references = @scorecard.scorecard_references.presence
  .mb-2
    %label= t('scorecard.references')
    - references.each do |ref|
      %div
        %a.btn.btn-link{href: ref.attachment_url, download: true, target: '_blank'}
          %i.fas.fa-cloud-download-alt
          %span= ref.attachment_identifier
