%table.table.table-bordered
  %thead
    %tr
      %th.align-middle.text-center{:scope => "col"}= t("scorecard.criteria")
      %th.align-middle.text-center{:scope => "col"}= t("scorecard.median")
      %th.align-middle.text-center{:scope => "col"}= t("scorecard.strength")
      %th.align-middle.text-center{:scope => "col"}= t("scorecard.weakness")
      %th.align-middle.text-center{:scope => "col"}= t("scorecard.suggested_action")

  %tbody
    - @voting_indicators.each do |indicator|
      %tr
        %td= indicator.indicatorable.name
        %td.text-center= VotingIndicator.medians[indicator.median]
        %td
          %ul
            - indicator.strength.each do |str|
              %li= str
        %td
          %ul
            - indicator.weakness.each do |str|
              %li= str
        %td
          %ul
            - indicator.suggested_actions.each do |action|
              %li
                = action.content
                = "(selected)" if action.selected
