%table.table.table-bordered
  %thead
    %tr
      %th.text-center{:scope => "col"} #
      %th.align-middle.text-center= t("scorecard.indicator")
      %th.align-middle.text-center= t("scorecard.median")
      %th.align-middle.text-center= t("scorecard.strength")
      %th.align-middle.text-center= t("scorecard.weakness")
      %th.align-middle.text-center= t("scorecard.suggested_action")

  %tbody
    - @voting_indicators.each_with_index do |vi, index|
      %tr
        %td.text-center= index + 1
        %td.text-break= vi.indicator.name
        %td.text-center= VotingIndicator.medians[vi.median]

        - ['strength', 'weakness', 'suggested'].each do |action|
          %td.w-25
            .text-break
              - vi.send("#{action}_indicator_activities").each do |activity|
                .d-flex
                  .d-flex.align-items-start
                    .dice{style: 'width: 5px;height: 5px; background-color: black;margin-top: 10px; margin-right: 10px; border-radius: 50%'}
                  - if policy(@scorecard).in_review?
                    .d-flex.flex-grow-1
                      - tooltip_title = activity.selected? ? t("scorecard.edit_selected_action") : t("shared.edit")
                      .d-flex.align-items-start.tip{data: { toggle: 'tooltip', placement: 'top', title: tooltip_title }}
                        = best_in_place activity, :content, url: scorecards_indicator_activity_path(activity), as: :textarea, class: ['add-space', ('text-info' if activity.selected?)], param: 'indicator_activity', inner_class: 'best-in-place-textarea', ok_button: t('shared.save'), cancel_button: t('shared.cancel'), ok_button_class: 'btn btn-primary btn-save', cancel_button_class: 'btn btn-secondary btn-cancel', skip_blur: true
                        %span
                          %i.fas.fa-pen.btn-sm.text-warning.edit-icon
                  - else
                    - data_attr = !activity.selected? ? {} : { class: 'text-info', data: { toggle: 'tooltip', placement: 'top', title: t('scorecard.selected_action') } }

                    %span{data_attr}= activity.content

- if references = @scorecard.scorecard_references.presence
  .mb-2
    %label= t('scorecard.references')
    - references.each do |ref|
      %div
        %a.btn.btn-link{href: ref.attachment_url, download: true, target: '_blank'}
          %i.fas.fa-cloud-download-alt
          %span= ref.attachment_identifier
