%table.table.table-bordered
  %thead
    %tr
      %th.align-middle.text-center{:scope => "col"}= t("scorecard.indicator")
      %th.align-middle.text-center{:scope => "col"}= t("scorecard.median")
      %th.align-middle.text-center{:scope => "col"}= t("scorecard.strength")
      %th.align-middle.text-center{:scope => "col"}= t("scorecard.weakness")
      %th.align-middle.text-center{:scope => "col"}= t("scorecard.suggested_action")

  %tbody
    - @voting_indicators.each_with_index do |indicator, index|
      %tr
        %td.text-break= "#{index + 1}) #{indicator.indicatorable.name}"
        %td.text-center= VotingIndicator.medians[indicator.median]

        - ['strength', 'weakness', 'suggested'].each do |action|
          %td
            %ul.text-break
              - indicator.send("#{action}_indicator_activities").each do |activity|
                %li
                  - if policy(@scorecard).in_review?
                    .d-flex.align-items-start
                      = best_in_place activity, :content, url: scorecards_indicator_activity_path(activity), as: :input, class: [('text-info action-selected' if activity.selected?), 'inline-edit'], param: 'indicator_activity', activator: "##{activity.id}"
                      %i.fas.fa-pen.btn-sm.text-warning.edit-icon{id: activity.id}
                  - else
                    %span{class: ('text-info action-selected' if activity.selected?)}
                      = activity.content

- if references = @scorecard.scorecard_references.presence
  .mb-2
    %label= t('scorecard.references')
    - references.each do |ref|
      %div
        %a.btn.btn-link{href: ref.attachment_url, download: true, target: '_blank'}
          %i.fas.fa-cloud-download-alt
          %span= ref.attachment_identifier
